<!-- Confirmation -->
<div class="l-confirmation g-font">
    <div class="l-confirmation-h">
        <div class="l-confirmation-hh">

            <div class="b-confirmation">
                <div class="b-confirmation-title">Подтверждение адреса</div>
                <div class="b-confirmation-note"><p ng-bind-html="msg"></p></div>
                <div ng-if="!isConfirm"><span ng-click="showConfirm()" class="a-pseudo">Попробовать подтвердить снова</span><br><br><a href="./">Вернуться на главную</a></div>
                <div ng-if="isConfirm" class="b-confirmation-hint">вы автоматически перейдете на <a href="./">главную страницу</a> через {{time}} секунд</div>
                
            </div>
        </div>
    </div>
    <img ng-if="admitad" ng-src="http://ad.admitad.com/register/af4f7532d5/script_type/img/payment_type/lead/product/16/order_id/{{userKey}}/uid/{{admitad}}/" width="1" height="1" alt="" />
    <img ng-if="actionpay" ng-src="http://n.actionpay.ru/ok/4915.png?actionpay={{actionpay}}&apid={{userKey}}" height="1" width="1" />
</div>
<!-- End Confirmation -->
