/*==========================================================*/
/* Climber */
/*==========================================================*/
.b-gameClimber-l {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.b-gameClimber {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-align: left;
  background: lightgray;
}

.b-gameClimber-h {
  height: 100%;
  overflow: hidden;
}

/* gameClimber-fone */
.gameClimber-fone {
  position: relative;
  z-index: 10;
}
.gameClimber-fone .gameClimber-fone-h {
  height: 12436px;
  background: url(asset/i/b-gameClimber/b-gameClimber-fone.png) 50% 100% no-repeat;
}

/* gameClimber-player */
.gameClimber-player {
  position: absolute;
  bottom:62px;
  left: 50%;
  margin-left: -178px;
  width: 302px;
  height: 430px;
  background: url(asset/i/b-gameClimber/b-gameClimber-player.png) 0 0 no-repeat;
  /* frame move   =  frame1...frame10 && frame21-30 */
  /* frame chocolate   =  frame11*/
  /* frame energy   =  frame12*/
  /* frame winner   =  frame13*/
  /* frame stay   =  frame14*/
}
.gameClimber-player.flip-left {
  margin-left: -210px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.gameClimber-player.mod_frame1 {
  background-position: 0px 0px;
}
.gameClimber-player.mod_frame2 {
  background-position: -302px 0px;
}
.gameClimber-player.mod_frame3 {
  background-position: -604px 0px;
}
.gameClimber-player.mod_frame4 {
  background-position: -906px 0px;
}
.gameClimber-player.mod_frame5 {
  background-position: -1208px 0px;
}
.gameClimber-player.mod_frame6 {
  background-position: -1510px 0px;
}
.gameClimber-player.mod_frame7 {
  background-position: -1812px 0px;
}
.gameClimber-player.mod_frame8 {
  background-position: -2114px 0px;
}
.gameClimber-player.mod_frame9 {
  background-position: -2416px 0px;
}
.gameClimber-player.mod_frame10 {
  background-position: -2718px 0px;
}
.gameClimber-player.mod_frame11 {
  width: 188px;
  height: 372px;
  background-position: 0px -470px;
}
.gameClimber-player.mod_frame12 {
  width: 210px;
  height: 372px;
  background-position: -302px -470px;
}
.gameClimber-player.mod_frame13 {
  width: 534px;
  height: 456px;
  background-position: -604px -470px;
}
.gameClimber-player.mod_frame14 {
  width: 188px;
  height: 372px;
  background-position: -1208px -470px;
  margin-left: 0px;
}
.gameClimber-player.mod_frame15 {
  width: 280px;
  height: 372px;
  background-position: -1505px -470px;
  margin-left: 0px;
}
.gameClimber-player.mod_frame16 {
  width: 290px;
  height: 392px;
  background-position: -1860px -460px;
}
.gameClimber-player.mod_frame17 {
  width: 188px;
  height: 392px;
  background-position: -2530px -470px;
  margin-left: 0px;
}
.gameClimber-player.mod_frame17.flip-left {
  margin-left: -250px;
}

.gameClimber-player.mod_frame21 {
  background-position: 0px -926px;
  height: 495px;
}
.gameClimber-player.mod_frame22 {
  background-position: -302px -926px;
  height: 495px;
}
.gameClimber-player.mod_frame23 {
  background-position: -604px -926px;
  height: 495px;
}
.gameClimber-player.mod_frame24 {
  background-position: -906px -926px;
  height: 495px;
}
.gameClimber-player.mod_frame25 {
  background-position: -1208px -926px;
  height: 495px;
}
.gameClimber-player.mod_frame26 {
  background-position: -1510px -926px;
  height: 495px;
}
.gameClimber-player.mod_frame27 {
  background-position: -1812px -926px;
  height: 495px;
}
.gameClimber-player.mod_frame28 {
  background-position: -2114px -926px;
  height: 495px;
}
.gameClimber-player.mod_frame29 {
  background-position: -2416px -926px;
  height: 495px;
}
.gameClimber-player.mod_frame30 {
  background-position: -2718px -926px;
  height: 495px;
}


.gameClimber-bird {
  position: absolute;
  top: 0;
  left: 0%;
  background: url(asset/i/b-gameClimber/b-gameClimber-player.png) 0 0 no-repeat;
  width: 220px;
  height: 372px;
  background-position: -2210px -470px;
  margin-left: -220px;
}
.gameClimber-bird.open {
  background-position: -2760px -470px;
}

.b-gameClimber .b-gamePanel {
  bottom: -62px;
  -webkit-transition: bottom linear 0.2s;
  transition: bottom linear 0.2s;
  z-index: 11000;
}
.b-gamePanel.state_active {
  bottom: 0;
}

/* b-progress-climber */
/*==========================================================*/
.b-progress-climber {
  margin-top: 8px;
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
}
.b-progress-climber:first-child {
  margin-top: 0px;
}

.b-progress-climber-icon {
  position: absolute;
  left: -26px;
  top: 0px;
}

.b-progress-climber-note {
  position: absolute;
  right: -60px;
  top: 3px;
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  width: 56px;
  color: #fff;
}

/* Progress bars */
/*==========================================================*/
.b-progressbar {
  height: 16px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.b-progressbar:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border: 2px solid #fff;
  border-radius: 3px;
  z-index: 10;
}
.b-progressbar__line {
  position: absolute;
  left: 0px;
  top: 2px;
  bottom: 2px;
  z-index: 5;
}
.b-progressbar_scheme_red .b-progressbar__line {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlZTJiNWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNjZTI1NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(#ee2b5a 60%, #ce2549 60%);
  background-image: -o-linear-gradient(#ee2b5a 60%, #ce2549 60%);
  background-image: -webkit-linear-gradient(#ee2b5a 60%, #ce2549 60%);
  background-image: linear-gradient(#ee2b5a 60%, #ce2549 60%);
}
.b-progressbar_scheme_blue .b-progressbar__line {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMyOGM0ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMwMGE1ZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(#28c4ef 60%, #00a5d2 60%);
  background-image: -o-linear-gradient(#28c4ef 60%, #00a5d2 60%);
  background-image: -webkit-linear-gradient(#28c4ef 60%, #00a5d2 60%);
  background-image: linear-gradient(#28c4ef 60%, #00a5d2 60%);
}

/* MOD climber-panel */
.mod_climber-panel {
  border: 3px solid #000;
  border-radius: 7px;
  line-height: 26px;
}

/* gameClimber-popup */
/*==========================================================*/
.gameClimber-popup {
  position: absolute;
  left: 200%;
  margin-left: -400px;
  bottom: 100px;
  border: 4px solid #000;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 100;
  text-align: center;
  width: 206px;
  padding: 20px 0 26px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;

  -webkit-transition:all linear 1s;
  transition:all linear 1s;
}
.gameClimber-popup.mod_white {
  background-color: #fff;
  bottom: 80px;
}
.gameClimber-popup.mod_yellow {
  background-color: #ffd731;
  bottom: 260px;
}
.gameClimber-popup.mod_small-padding {
  padding: 12px 0 16px 0px;
}
.gameClimber-popup-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
}
.gameClimber-popup-title-h {
  vertical-align: middle;
  margin-left: -.25em;
}
.gameClimber-popup-text {
  font-size: 16px;
  padding: 0 20px;
  line-height: 21px;
}
.gameClimber-popup-title .b-icons_star {
  margin-right: 2px;
}

.gameClimber-popup.ng-hide-add,
.gameClimber-popup.ng-hide-remove {
  display:block!important;
}

.gameClimber-popup.ng-hide {
  opacity:0;
}

/* b-popup */
/*==========================================================*/
.b-gameClimber-popup {
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.b-gameClimber-popup {
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    line-height: 20px;
    opacity: 1;
}

.b-gameClimber-popup.ng-hide-add,
.b-gameClimber-popup.ng-hide-remove {
    display: block !important;
}

.b-gameClimber-popup.ng-hide {
    opacity: 0;
}


.gameClimber-fone-bonuses {
    position: relative;
    margin-left: 50%;
}

.b-gameClimber .b-buttons-popup {
  position: absolute;
  left: 50%;
  margin-left: -400px;
  bottom: 100px;
  z-index: 10000;
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  opacity: 1;
}

.b-gameClimber .b-buttons-popup.ng-hide-add,
.b-gameClimber .b-buttons-popup.ng-hide-remove {
    display: block !important;
}

.b-gameClimber .b-buttons-popup.ng-hide {
    opacity: 0;
}

.b-gameClimber .b-popover {
  position: absolute;
  z-index: 10000;
}


.gameClimber-flag-qiwi {
  position: absolute;
  width: 142px;
  height: 252px;
  background: url(asset/i/b-gameClimber/b-qiwi-flag.png) 0 0 no-repeat;
  margin-left: 50%;
  z-index: 100;
}

.gameClimber-flag-qiwi a {
  display: block;
  position: relative;
  width: 118px;
  height: 155px;
  top: 5px;
  left: 20px;
}