<!-- 
    @name stmIndex:bonusInfo.html
    @requires stmIndex.directive:stmIndexAchiev
-->
              <div class="b-popup__top-result">
                        <div class="b-popup__top-result-title">
                            <span class="b-icons b-icons_star2">
                                <span class="b-icons__item"></span>
                            </span>
                            {{(gameData.score | number:0).replace(',',' ')}} баллов
                        </div>
                        <div ng-if="gameData.best.score > gameData.score" class="b-popup__top-result-note">{{(gameData.best.score | number:0).replace(',',' ')}} баллов — ваш лучший результат</div>
                        <div ng-if="gameData.best.score <= gameData.score" class="b-popup__top-result-note">Это ваш лучший результат</div>
                        <div ng-if="gameData.best.items" ng-class="gameData.isDetails ? 'state_active' : '' " class="b-slide-result">
                            <div class="b-slide-result-row">
                                <div ng-repeat="bestitem in gameData.best.items" ng-class="'mod_' + bestitem.type" class="b-slide-result-item">
                                    <div class="b-slide-result-icon"></div>
                                    <div class="b-slide-result-text">{{(bestitem.score | number:0).replace(',',' ')}}</div>
                                </div>
                            </div>
                            
                            <div ng-if="gameData.best.items" ng-click="gameData.isDetails = !gameData.isDetails" class="b-slide-result-arrow"></div>

                        </div>
                       
              </div>

              <div ng-if="gameData" class="b-achive-row">
                    <div ng-repeat="achieve in gameData.achievements" stm-index-achiev="{{gameData.type+'.'+achieve.type}}" text="{{achieve.text}}" active="{{achieve.active}}"></div>
              </div>
