/* b-bonus */
/*==========================================================*/
.b-bonus {
    position: absolute;
    width: 82px;
    height: 82px;
    z-index: 10000;
    margin-left: -41px;
    margin-top: -41px;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(0);
    background: url("asset/i/b-indexBonus/b-indexBonusIcons.png") 0 0 no-repeat;    
}

.b-bonus-pickpoint {
    background-position: 0 0;
}
.b-bonus-mnogo {
    background-position: 0 -82px;
}
.b-bonus-sber {
    background-position: -82px 0;
}

.b-bonus.ng-hide-add {
  -webkit-transition:0.5s cubic-bezier(0.645, -0.470, 0.485, 0.670) all;
  transition: 0.5s cubic-bezier(0.645, -0.470, 0.485, 0.670) all;
  display:block!important;
}
.b-bonus.ng-hide-remove {
  -webkit-transition:0.5s cubic-bezier(0.510, 0.595, 0.320, 1.345) all;
  transition: 0.5s cubic-bezier(0.510, 0.595, 0.320, 1.345) all;
  display:block!important;
}
.b-bonus.ng-hide {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
