/build/
.DS_Store
*~
*.swp
/node_modules/
/bower_components/
/tmp/
/pulls/
validate-commit-msg.js
src/codekit-config.json
plunk/
*.scss
*.haml
asset/i/b-indexPage/1.png
asset/i/b-indexPage/2.png
asset/i/b-indexPage/3.png
asset/i/b-indexPage/arrow.png
asset/i/b-indexPage/b-index-top.png
asset/i/b-indexPage/promo-logo.png
asset/i/b-indexPage/round.png
asset/i/b-indexPage/sprite.sprt
