<div ng-class="'pos_' + position" class='l-b-toolbar g-font g-clearfix g-noselect'>
    <div class="b-toolbar">
        <!-- toolbar-left -->
        <div class="l-b-toolbar-left">
            <div ng-class="gameMenu.active ? 'b-toolbar-button_state_active' : ''" class="b-toolbar-button" ng-mousedown="clickMenu($event, gameMenu)" >Выбрать игру</div>
            <div class="b-toolbar-link"><a href="">Тестовый запуск</a><sup>Beta</sup></div>
            <!--<div class="b-toolbar-button b-toolbar-button_state_active">
                События
                <div class="b-toolbar-event-count">98</div>
            </div>-->
        </div>
        <!-- / toolbar-left -->
        <a href="map/" ng-click="logoClick()" class="b-toolbar__logo">Сотмаркет</a>
        
        <!-- toolbar-right -->
        <div class="l-b-toolbar-right">
            <!--
            <div class="b-toolbar-button b-toolbar-button_state_active">
                <div class="b-toolbar-user">
                    <img class="b-toolbar-user__image" src="asset/i/b-toolbar/user.jpg" />
                    <div class="b-toolbar-user__name">Юрий Китчев</div>
                </div>
            </div>-->
            <span ng-class="isAbout ? 'b-toolbar-button_state_active' : ''" class="b-toolbar-button">
                <span>О проекте</span>
                <a class="b-button__link"  href="about/"></a>
            </span>
        </div>
        <!-- / toolbar-right -->

    </div>

<div ng-repeat="menu in menus" stm-index-popover="menu.id" popover-type="{{position == 'bottom' ? 'top' : 'bottom' }}" hide-event-timeout="0" hide-on-clickout="true" show="{{!!menu.active}}" position="{{menu.position}}">
    <div ng-class="'pos_' + (position == 'top' ? 'bottom' : 'top')" class="b-toolbar-popup g-font b-toolbar-popup_top_left">
        
        <div class="b-toolbar-popup__list">
            
            <div ng-repeat="item in menu.items" ng-class="$first ? '__list-item-top' : ''" class="b-toolbar-popup__list-item b-toolbar-popup__list-item_style1 b-toolbar-popup__list-item">
                <img ng-src="{{item.icon}}" alt="image" class="b-toolbar-popup__list-userpic">
                <div class="b-toolbar-popup__list-note">
                    <div class="b-toolbar-popup__list-title">{{item.title}}</div>
                    <div class="b-toolbar-popup__list-info" ng-bind-html="item.desc"></div>
                </div>
                <a href="{{item.url}}" class="b-toolbar-popup__list-link"></a>
            </div>
            <!--
            <div class="b-toolbar-popup__list-item b-toolbar-popup__list-item_style1 b-toolbar-popup__list-item  b-toolbar-popup__list-item_margin-top">
                <img src="asset/i/b-toolbar/userpic.jpg" alt="image" class="b-toolbar-popup__list-userpic">
                <div class="b-toolbar-popup__list-note">
                    <div class="b-toolbar-popup__list-title">Скалолаз</div>
                    <div class="b-toolbar-popup__list-info">Ваше лучшее достижение 100 Б</div>
                </div>
                <a href="#2" class="b-toolbar-popup__list-link"></a>
            </div>

            <div class="b-toolbar-popup__list-item b-toolbar-popup__list-item_result1">
                <div class="b-toolbar-popup__list-title">Задания на карте</div>
                <div class="b-toolbar-popup__list-info">Выполнено 0 из 43. Не получено <br>ни одного достижения</div>
            </div>
            
            <div class="b-toolbar-popup__list-item b-toolbar-popup__list-item_style2 b-toolbar-popup__list-item_no-border b-toolbar-popup__list-item_first">
                <img src="asset/i/b-toolbar/userpic.jpg" alt="image" class="b-toolbar-popup__list-userpic">
                <div class="b-toolbar-popup__list-note">
                    <div class="b-toolbar-popup__list-text">
                        Ваш друг <b>Константин Константинопольский</b> присоединился к вашей команде
                    </div>
                    <div class="b-toolbar-popup__list-info">1 час назад</div>
                </div>
                <a href="#2" class="b-toolbar-popup__list-link"></a>
            </div>

            <div class="b-toolbar-popup__list-item b-toolbar-popup__list-item_style2 b-toolbar-popup__list-item_state_active">
                <img src="asset/i/b-toolbar/userpic.jpg" alt="image" class="b-toolbar-popup__list-userpic">
                <div class="b-toolbar-popup__list-note">
                    <div class="b-toolbar-popup__list-text">
                        Ваш друг <b>Константин Константинопольский</b> присоединился к вашей команде
                    </div>
                    <div class="b-toolbar-popup__list-info">1 час назад</div>
                </div>
                <a href="#2" class="b-toolbar-popup__list-link"></a>
            </div>
            
            <div class="b-toolbar-popup__list-item">
                <div class="b-toolbar-popup__events-more">Раньше</div>
            </div>

            <div class="b-toolbar-popup__list-item">
                <div class="b-toolbar-popup__user-result">
                    <div class="b-toolbar-popup__user-result-h">
                        <div class="b-toolbar-popup__user-result-td">
                            <div class="b-toolbar-popup__user-result-num">
                                18/<i>55</i>
                            </div>
                            <div class="b-toolbar-popup__user-result-note">трофеев</div>
                        </div>
                        <div class="b-toolbar-popup__user-result-td">
                            <div class="b-toolbar-popup__user-result-num">
                                8
                            </div>
                            <div class="b-toolbar-popup__user-result-note">друзей</div>
                        </div>
                        <div class="b-toolbar-popup__user-result-td">
                            <div class="b-toolbar-popup__user-result-num">
                                17 210
                            </div>
                            <div class="b-toolbar-popup__user-result-note">баллов</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="b-toolbar-popup__list-item b-toolbar-popup__list-item_style3 b-toolbar-popup__list-item_margin-top">
                <div class="b-toolbar-popup__list-title">Мои достижения</div>
                <a href="#2" class="b-toolbar-popup__list-link"></a>
            </div>
        
            <div class="b-toolbar-popup__list-item b-toolbar-popup__list-item_style3">
                <div class="b-toolbar-popup__list-title">Командные достижения</div>
                <a href="#2" class="b-toolbar-popup__list-link"></a>
            </div>

            <div class="b-toolbar-popup__list-item b-toolbar-popup__list-item_style3">
                <div class="b-toolbar-popup__list-title">Настройки</div>
                <a href="#2" class="b-toolbar-popup__list-link"></a>
            </div>
            <div class="b-toolbar-popup__list-item b-toolbar-popup__list-item_style3 b-toolbar-popup__list-item_margin-top">
                <div class="b-toolbar-popup__list-title">Выход</div>
                <a href="#2" class="b-toolbar-popup__list-link"></a>
            </div>

            <div class="b-toolbar-popup__list-item b-toolbar-popup__list-item_result2">
                <div class="b-toolbar-popup__list-title">Задания на карте</div>
                <div class="b-toolbar-popup__list-info">Выполнено 0 из 43. Не получено <br>ни одного достижения</div>
            </div>
            -->
        </div>

        
        <div ng-if="menu.social" class="b-toolbar-popup__bottom">
            <div buttons-count="4" stm-index-social></div>
        </div>
        
        <i class="b-popup-queue b-popup-queue_top_left"></i>
    </div>
    
</dev>

</div>
