<!-- gameBiathlon -->
<div class="b-gameBiathlon-l g-font">
    <div data-camera class='b-gameBiathlon g-noselect' ng-show="ready">
        <div>
            <div data-tree="b-biathlon-tree_mod1"></div>
            <div data-tree="b-biathlon-tree_mod2"></div>
            <div data-tree="b-biathlon-tree_mod3"></div>
        </div>
        <div>
            <div data-targets-range="[0, 3000]" data-track="1" data-points="[[10,190],[180,186],[597,153],[1276, 22], [1546, 2], [1920, 25], [2060, 45], [2455, 138], [2603, 165], [2733, 180],[2886, 189],[2955,193]]" data-margin="[190, 191]" data-frames="[1,2,5]" class="b-gameBiathlonTrack-h screen_1"></div>
            <div data-targets-range="[0, 1500]" data-track="2" data-points="[[30,12],[428, 9],[1178, 0],[1406, 9], [1585, 28], [1742, 57], [1897, 98], [2081, 170], [2214, 237], [2355, 321], [2463, 395], [2463, 395], [2715, 607], [2999, 859]]" data-margin="[12, 867]" data-frames="[3,4]" class="b-gameBiathlonTrack-h screen_2"></div>
            <div data-targets-range="[0, 0]" data-track="3" data-points="[[40,38],[408, 359],[853, 745],[1330, 1159], [1872, 1629], [2427, 2111], [2961, 2576]]" data-margin="[0, 2592]" data-frames="[3,4]" class="b-gameBiathlonTrack-h screen_3"></div>
            <div data-targets-range="[1500, 2899]" data-track="4" data-points="[[38,34],[143, 116],[242, 189],[408, 300], [562, 390], [736, 479], [885, 541], [1033, 590], [1219, 639], [1423, 681],[1600, 708], [1796, 730], [1988, 746], [2219, 761], [2454, 770], [2637, 773]]" data-margin="[0, 774]" data-frames="[1,2,5]" class="b-gameBiathlonTrack-h screen_4"></div>
            <div data-targets-range="[0, 3018]" data-track="5" data-points="[[38,64],[238, 57],[513, 37],[773, 13], [991, 4], [1162, 1], [1292, 3], [1509, 14], [1706, 28], [1907, 42],[2073, 53], [2278, 60], [2445, 64], [2610, 66], [2942, 68]]" data-margin="[63, 66]" data-frames="[1,2,5]" class="b-gameBiathlonTrack-h screen_5"></div>    
        </div>
        <div ng-repeat="frame in traceFrames" ng-style="frame.css" class="b-gameBiathlonTrack-h screen_{{frame.name}}">
            <div class="b-gameBiathlonTrack">
                <div ng-style="frame.vitekCss" class="__vitek"><a href="http://www.sotmarket.ru/partner/vitek/" target="_blank"></a></div>
            </div>
            <div stm-game-biathlon-frame-content update="frame.update" trees="frame.trees" bonuses="frame.bonuses" targets="frame.targets"></div>
        </div>        
        <div ng-show="!inEti" ng-style="men.css" class="l-b-biathlon-men">
            <div ng-class="'b-biathlon-men_' + men.frameIndex" class="b-biathlon-men"></div>
        </div>

        <div ng-class="inEti ? 'mod_inEti' : ''" ng-style="eti.css" class="l-b-biathlon-yeti">
            <div ng-class="'b-biathlon-yeti_' + eti.frameIndex" class="b-biathlon-yeti"></div>
        </div>
        <div ng-class="buttons.active ? 'state_active' : ''" class="b-gameBiathlon-buttons">
            <div stm-index-buttons-popup key="{{buttons.key}}"><span ng-bind-html="buttons.text"></span></div>
        </div>
        <div ng-class="etiWarinig ? 'state_active' : ''" class="b-gameBiathlon-warning">
            <div stm-game-biathlon-warning-popup><h5 id="example_source_опасность">Опасность!</h5>Йети догоняет, <br>поднажми</div>
        </div>
        <div ng-repeat="popup in bonusPopups" class="b-gameBiathlon-bonusPopup" stm-index-popover="{{popup.id}}" position="popup.position">
            <div stm-index-bonus-popup bonus="{{popup.bonus}}" type="{{popup.type}}">
                <span ng-bind-html="popup.text"></span>
            </div>
        </div>    
    </div>
    <!-- Panel -->
    <div class='b-gamePanel' ng-class="showToolbar ? 'state_active' : ''">
        <div class='b-gamePanel-h'>
            <div class='b-gamePanel-layaut'>
                <div class='b-gamePanel-column mod_first'>
                    <div class="b-button b-button_map">
                        <span class='b-button__text'>На карту</span>
                        <a class='b-button__link' href='map/'></a>
                    </div>
                </div>
                <div class='b-gamePanel-column mod_second'>
                    <ul class="b-gameBiathlon-shots">
                        <li ng-repeat="n in [] | range:speedsMax" ng-class="n < speeds ? 'state_active' : ''" class="b-gameBiathlon-shots-item state_active"></li>
                    </ul>
                </div>
                <div class='b-gamePanel-column mod_third'>
                    <div ng-class=" distanceEti < 15 ? 'mod_alert' : ''" class="b-gamePanel-block mod_eti">
                        <div class="b-gamePanel-block__text">
                            {{distanceEti | stmNumber:0}} <span class="b-gamePanel-block__text-h">м</span>
                        </div>
                    </div>
                    <div class="b-gamePanel-block">
                        <span class="b-icons b-icons_speed">
                            <span class="b-icons__item"></span>
                        </span>
                        <div class="b-gamePanel-block__text">
                            {{distance | stmNumber:2}} <span class="b-gamePanel-block__text-h">км</span>
                        </div>
                    </div>
                    <span class="b-button b-button_size_medium4 b-button_scheme_yellow">
                        <span class="b-icons b-icons_star">
                            <span class="b-icons__item"></span>
                        </span>
                        <span class="b-button__text">{{(score | number).replace(","," ")}}</span>
                        <!--<a class="b-button__link" href="#3"></a>-->
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
    <div stm-index-popup game-data="gameData" show="{{showStartPopup}}">
                <div class='b-popup-title'>
                  Биатлон &mdash; не дай себя догнать Йети
                </div> 
                <div stm-index-tabs class="l-popup-tabs">
                    <div class="b-popup-tabs">
                        <div class="b-popup-tabs_item">
                            <div class="b-popup-tabs_item-decor mod_4"></div>
                            <div class="b-popup-tabs_item-text">Выстрел</div>
                        </div>                    
                        <div class="b-popup-tabs_item">
                            <div class="b-popup-tabs_item-decor mod_1"></div>
                            <div class="b-popup-tabs_item-text">Ускорение</div>
                        </div>
                        <div class="b-popup-tabs_item">
                            <div class="b-popup-tabs_item-decor mod_2"></div>
                            <div class="b-popup-tabs_item-text">Прыжок</div>
                        </div>
                        <div class="b-popup-tabs_item">
                            <div class="b-popup-tabs_item-decor mod_3"></div>
                            <div class="b-popup-tabs_item-text">Присесть</div>
                        </div>
                    </div>
                    <div class="b-popup-tab-content">
                         Стрельба из винтовки по мишеням
                    </div>                    
                    <div class="b-popup-tab-content">
                        Чтобы набрать скорость, используй ускорение
                    </div>
                    <div class="b-popup-tab-content">
                        Прыгай, чтобы дотянуться до бонусов
                    </div>
                    <div class="b-popup-tab-content">
                        Приседай на склоне, чтобы набрать скорость
                    </div>
                </div>
                
                <div ng-click="showInfo()" class="b-popup-link-bonus">
                    <span class="b-popup-link-bonus-h">Бонусы и трофеи</span>
                </div>
                <div ng-include="'partials/stmIndex:playButton.html'"></div>
    </div>   
    <div stm-index-popup header="'partials/stmIndex:bonusInfo.html'" content-after="'partials/stmIndex:mnogoForm.html'" show="{{showGamePopup}}">
        <div ng-include="'partials/stmIndex:gameInfo.html'"></div>        
    </div>  
    <div show="{{showInfoPopup}}" stm-index-popup footer="false" closable="closeInfo">
                <div class="b-popup-title">
                    Собирай бонусы от спонсоров
                </div>
                <div stm-index-bonus-info dpd proskater></div>
                <div class="b-popup-title">
                    Получай достижения
                </div>
                <div stm-index-achievs-info="achievsInfo" tab-active="true" type="biathlon"></div>
     </div>
    <audio data-shoot>
        <source src="asset/audio/shoot/shoot.ogg" type="audio/ogg">
        <source src="asset/audio/shoot/shoot.mp3" type="audio/mpeg">
    </audio>
</div>    
