/* b-map */
/*==========================================================*/
.b-map {
  height: 100%;
  overflow: hidden;
}

.b-map-h {
  position: relative;
  height: 3380px;
  width: 3770px;
  background: url("asset/i/b-gameMap/b-gameMap-fone.png") 0 0 no-repeat;
}

/* b-game-run */
/*==========================================================*/
.b-game-run {
  position: absolute;
  width: 280px;
  border: 3px solid #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
}

.b-game-run-top {
  padding: 14px 16px 16px 16px;
  text-align: center;
}

.b-game-run-title {
  font-size: 21px;
  margin-bottom: 6px;
}

.b-game-run-note {
  font-size: 13px;
  line-height: 18px;
}

/* MOD biathlon  */
.b-game-run.mod_biathlon {
  left: 630px;
  top: 506px;
}

/* MOD eti  */
.b-game-run.mod_eti {
  left: 2806px;
  top: 318px;
}

/* MOD climber  */
.b-game-run.mod_climber {
  left: 1848px;
  top: 2392px;
}

/* .b-button.mod_game-run */
.b-button.mod_game-run {
  height: 47px;
  line-height: 50px;
  display: block;
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: inset 0 0 7px #fff693;
  -webkit-box-shadow: inset 0 0 7px #fff693;
  box-shadow: inset 0 0 7px #fff693;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSI0Ljk5OTk5OTk5OTk5OTk5JSIgeDI9IjUwJSIgeTI9Ijk1JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmQ3MWYiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEyJSIgc3RvcC1jb2xvcj0iI2ZmZDcxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNzclIiBzdG9wLWNvbG9yPSIjZjViNDA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZkNzFmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  background-image: -moz-linear-gradient(top, #ffd71f 5%, #ffd71f 15.99%, #f5b405 74.43%, #ffd71f 95%);
  background-image: -o-linear-gradient(top, #ffd71f 5%, #ffd71f 15.99%, #f5b405 74.43%, #ffd71f 95%);
  background-image: -webkit-linear-gradient(top, #ffd71f 5%, #ffd71f 15.99%, #f5b405 74.43%, #ffd71f 95%);
  background-image: linear-gradient(top, #ffd71f 5%, #ffd71f 15.99%, #f5b405 74.43%, #ffd71f 95%);
}
.b-button.mod_game-run .b-button__text {
  width: 100%;
  font-size: 21px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.b-button.mod_game-run:hover {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSI0Ljk5OTk5OTk5OTk5OTk5JSIgeDI9IjUwJSIgeTI9Ijk1JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmQ3MWYiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CjxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjZmZkNzFmIiBzdG9wLW9wYWNpdHk9IjAuOCIvPgo8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2Y1YjQwNSIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZkNzFmIiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(top, rgba(255, 216, 32, 0.8) 5%, rgba(255, 216, 32, 0.8) 15.99%, rgba(245, 180, 6, 0.8) 74.43%, rgba(255, 216, 32, 0.8) 95%);
  background-image: -o-linear-gradient(top, rgba(255, 216, 32, 0.8) 5%, rgba(255, 216, 32, 0.8) 15.99%, rgba(245, 180, 6, 0.8) 74.43%, rgba(255, 216, 32, 0.8) 95%);
  background-image: -webkit-linear-gradient(top, rgba(255, 216, 32, 0.8) 5%, rgba(255, 216, 32, 0.8) 15.99%, rgba(245, 180, 6, 0.8) 74.43%, rgba(255, 216, 32, 0.8) 95%);
  background-image: linear-gradient(top, rgba(255, 216, 32, 0.8) 5%, rgba(255, 216, 32, 0.8) 15.99%, rgba(245, 180, 6, 0.8) 74.43%, rgba(255, 216, 32, 0.8) 95%);
}
