/* b-map */
/*==========================================================*/
.b-map {
  height: 100%;
  overflow: hidden;
}
.b-map.state_move {
  cursor: move;
}
.b-map-h {
  position: relative;
  height: 3380px;
  width: 3770px;
  background: url("asset/i/b-gameMap/b-gameMap-fone.png") 0 0 no-repeat;
  -webkit-transition: 0.2s left linear, 0.2s top linear;
  transition: 0.2s left linear, 0.2s top linear;
}

/* b-game-run */
/*==========================================================*/
.b-game-run {
  position: absolute;
  width: 280px;
  border: 3px solid #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
}

.b-game-run-top {
  padding: 14px 16px 16px 16px;
  text-align: center;
}

.b-game-run-title {
  font-size: 21px;
  margin-bottom: 6px;
}

.b-game-run-note {
  font-size: 13px;
  line-height: 18px;
}

/* MOD biathlon  */
.b-game-run.mod_biathlon {
  left: 630px;
  top: 506px;
}

/* MOD eti  */
.b-game-run.mod_eti {
  left: 2806px;
  top: 318px;
}

/* MOD climber  */
.b-game-run.mod_climber {
  left: 1660px;
  top: 2580px;
}

/* .b-button.mod_game-run */
.b-button.mod_game-run {
  height: 47px;
  line-height: 50px;
  display: block;
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}
.b-button.mod_game-run .b-button__text {
  width: 100%;
  font-size: 21px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.b-game-item {
    position: absolute;
    z-index: 5;
}
/*
.b-game-item14 {
    left: -500px;
    top: 230px;
    width: 477px;
    height: 106px;
    background: url("asset/i/b-gameMap/plane_sheet_2x18.png") 0 0 no-repeat;
    z-index: 20;
}
*/
/* b-map-decor */
/*==========================================================*/
.b-map-decor {
  position: absolute;
  background: url(asset/i/b-gameMap/b-gameMap-decor.png) 0 0 no-repeat;
  z-index: 10;
}
.b-map-decor.mod_balloon {
    background-position: 0px 0px;
    width: 241px;
    height: 423px;
    top: 780px;
    left: 2680px;
}

.b-map-decor.mod_cloud1 {
    background-position: -261px 0px;
    width: 521px;
    height: 125px;
    top: 140px;
    left: 1000px;
}

.b-map-decor.mod_cloud2 {
    background-position: -533px -145px;
    width: 210px;
    height: 69px;
    top: 100px;
    left: 1800px;
}

.b-map-decor.mod_tree1 {
    background-position: -261px -145px;
    width: 117px;
    height: 152px;
    left: -40px;
    top: 650px;
}

.b-map-decor.mod_tree2 {
    background-position: -398px -145px;
    width: 115px;
    height: 142px;
    left: 60px;
    top: 730px;
}


