.b-game-item1 {
    left: 2950px;
    top: 1770px;
    width: 364px;
    height: 310px;
    background: url("asset/i/b-gameMap/groupon_sheet_2x8.png") 0 0 no-repeat;
}
.b-game-item2 {
    left: 1300px;
    top: 1730px;
    width: 170px;
    height: 200px;
    background: url("asset/i/b-gameMap/skater_girl_sheet_6x4.png") 0 0 no-repeat;
}
.b-game-item3 {
    left: 1400px;
    top: 1850px;
    width: 200px;
    height: 150px;
    background: url("asset/i/b-gameMap/skater_dude_sheet_5x15.png") 0 0 no-repeat;
}
.b-game-item4 {
    left: 1570px;
    top: 1640px;
    width: 294px;
    height: 162px;
    background: url("asset/i/b-gameMap/couple_sheet_3x39.png") 0 0 no-repeat;
}
.b-game-item5 {
    left: 248px;
    top: 953px;
    width: 200px;
    height: 150px;
    background: url("asset/i/b-gameMap/girl1_sheet_5x6.png") 0 0 no-repeat;
}
.b-game-item6 {
    left: 450px;
    top: 955px;
    width: 200px;
    height: 150px;
    background: url("asset/i/b-gameMap/girl2_sheet_5x6.png") 0 0 no-repeat;
}
.b-game-item7 {
    left: 600px;
    top: 975px;
    width: 170px;
    height: 150px;
    background: url("asset/i/b-gameMap/paper_guy sheet_6x7.png") 0 0 no-repeat;
}
.b-game-item8 {
    left: 30px;
    top: 585px;
    width: 170px;
    height: 180px;
    background: url("asset/i/b-gameMap/yeti1_sheet_6x5.png") 0 0 no-repeat;
}
.b-game-item9 {
    left: 3070px;
    top: 3000px;
    width: 186px;
    height: 172px;
    background: url("asset/i/b-gameMap/yeti2_sheet_5x11.png") 0 0 no-repeat;
}

.b-game-item10 {
    left: 1250px;
    top: 2950px;
    width: 484px;
    height: 304px;
    background: url("asset/i/b-gameMap/mnogo_sheet_2x36.png") 0 0 no-repeat;
}

.b-game-item11 {
    left: 1420px;
    top: 1000px;
    width: 116px;
    height: 134px;
    background: url("asset/i/b-gameMap/paper_boy_sheet_8x9.png") 0 0 no-repeat;
}

.b-game-item12 {
    left: 2200px;
    top: 880px;
    width: 350px;
    height: 194px;
    background: url("asset/i/b-gameMap/pick_point_sheet_2x33.png") 0 0 no-repeat;
}

.b-game-item13 {
    left: 3350px;
    top: 3050px;
    width: 370px;
    height: 310px;
    background: url("asset/i/b-gameMap/sotmarket_sheet_2x35.png") 0 0 no-repeat;
}

.b-game-item15 {
    left: 2950px;
    top: 1605px;
    width: 282px;
    height: 160px;
    background: url("asset/i/b-gameMap/cycle1_sheet_3x29.png") 0 0 no-repeat;
}

.b-game-item16 {
    left: 1430px;
    top: 1370px;
    width: 282px;
    height: 160px;
    background: url("asset/i/b-gameMap/cycle2_sheet_3x25.png") 0 0 no-repeat;
}

.b-game-item17 {
    left: 1121px;
    top: 620px;
    width: 134px;
    height: 136px;
    background: url("asset/i/b-gameMap/deer_sheet_7x3.png") 0 0 no-repeat;
}

.b-game-item18 {
    left: 3040px;
    top: 937px;
    width: 330px;
    height: 120px;
    background: url("asset/i/b-gameMap/deers_sheet_3x27.png") 0 0 no-repeat;
}

.b-game-item19 {
    left: 1590px;
    top: 2354px;
    width: 200px;
    height: 120px;
    background: url("asset/i/b-gameMap/gost_sheet_5x12.png") 0 0 no-repeat;
}

.b-game-item20 {
    left: 110px;
    top: 1910px;
    width: 256px;
    height: 112px;
    background: url("asset/i/b-gameMap/mermaid_1_sheet_4x6.png") 0 0 no-repeat;
}

.b-game-item21 {
    left: 367px;
    top: 1990px;
    width: 86px;
    height: 56px;
    background: url("asset/i/b-gameMap/mermaid_2_sheet_11x2.png") 0 0 no-repeat;
}

.b-game-item22 {
    left: 1795px;
    top: 784px;
    width: 196px;
    height: 116px;
    background: url("asset/i/b-gameMap/qiwi_sheet_5x10.png") 0 0 no-repeat;
}

.b-game-item23 {
    left: 3105px;
    top: 2715px;
    width: 120px;
    height: 130px;
    background: url("asset/i/b-gameMap/qiwi2_sheet_8x10.png") 0 0 no-repeat;
}

.b-game-item24 {
    left: 830px;
    top: 875px;
    width: 306px;
    height: 210px;
    background: url("asset/i/b-gameMap/qiwi3_sheet_3x27.png") 0 0 no-repeat;
}

.b-game-item25 {
    left: 940px;
    top: 1560px;
    width: 132px;
    height: 188px;
    background: url("asset/i/b-gameMap/rabbit1_sheet_7x3.png") 0 0 no-repeat;
}

.b-game-item26 {
    left: 1490px;
    top: 2500px;
    width: 128px;
    height: 124px;
    background: url("asset/i/b-gameMap/ram2_sheet_8x5.png") 0 0 no-repeat;
}

.b-game-item27 {
    left: 2260px;
    top: 2760px;
    width: 186px;
    height: 116px;
    background: url("asset/i/b-gameMap/rams_sheet_5x18.png") 0 0 no-repeat;
}

.b-game-item28 {
    left: 1140px;
    top: 1565px;
    width: 154px;
    height: 172px;
    background: url("asset/i/b-gameMap/skater_dude2_sheet_6x15.png") 0 0 no-repeat;
}

.b-game-item29 {
    left: 970px;
    top: 1770px;
    width: 130px;
    height: 183px;
    background: url("asset/i/b-gameMap/skater_dude3_sheet_7x3.png") 0 0 no-repeat;
}
.b-game-item30 {
    left: 1925px;
    top: 2228px;
    width: 386px;
    height: 276px;
    background: url("asset/i/b-gameMap/proskater_sheet_2x40.png") 0 0 no-repeat;
}
.b-game-item31 {
    left: 1698px;
    top: 1132px;
    width: 200px;
    height: 230px;
    background: url("asset/i/b-gameMap/playing_dude_sheet_5x2.png") 0 0 no-repeat;
}
.b-game-item32 {
    left: 1945px;
    top: 943px;
    width: 250px;
    height: 230px;
    background: url("asset/i/b-gameMap/girl_sheet_4x12.png") 0 0 no-repeat;
}
.b-game-item33 {
    left: 2111px;
    top: 1131px;
    width: 230px;
    height: 210px;
    background: url("asset/i/b-gameMap/cowboy_sheet_4x10.png") 0 0 no-repeat;
}
.b-game-item34 {
    left: 2642px;
    top: 1183px;
    width: 480px;
    height: 230px;
    background: url("asset/i/b-gameMap/notes_sheet_2x36.png") 0 0 no-repeat;
}
.b-game-item35 {
    left: 2981px;
    top: 1161px;
    width: 950px;
    height: 280px;
    background: url("asset/i/b-gameMap/icecream_sheet_1x70.png") 0 0 no-repeat;
}
.b-game-item36 {
    left: 1630px;
    top: 1779px;
    width: 150px;
    height: 170px;
    background: url("asset/i/b-gameMap/proskater_sheet_6x3.png") 0 0 no-repeat;
}
.b-game-item37 {
    left: 3299px;
    top: 1056px;
    width: 400px;
    height: 150px;
    background: url("asset/i/b-gameMap/yeti5_sheet_2x12.png") 0 0 no-repeat;
}
.b-game-item38 {
    left: 3139px;
    top: 667px;
    width: 200px;
    height: 138px;
    background: url("asset/i/b-gameMap/yeti4_sheet_5x16.png") 0 0 no-repeat;
}
.b-game-item39 {
    left: 2083px;
    top: 715px;
    width: 290px;
    height: 180px;
    background: url("asset/i/b-gameMap/skiers_sheet_3x27.png") 0 0 no-repeat;
}
.b-game-item40 {
    left: 1121px;
    top: 1950px;
    width: 208px;
    height: 160px;
    background: url("asset/i/b-gameMap/wolfs_sheet_4x3.png") 0 0 no-repeat;
}
.b-game-item41 {
    left: 3254px;
    top: 2340px;
    width: 250px;
    height: 150px;
    background: url("asset/i/b-gameMap/roosters_sheet_4x16.png") 0 0 no-repeat;
}
.b-game-item42 {
    left: 1995px;
    top: 556px;
    width: 120px;
    height: 130px;
    background: url("asset/i/b-gameMap/yeti3_sheet_8x5.png") 0 0 no-repeat;
}
.b-game-item43 {
    left: 2464px;
    top: 1900px;
    width: 240px;
    height: 200px;
    background: url("asset/i/b-gameMap/worker1_sheet_4x10.png") 0 0 no-repeat;
}
.b-game-item44 {
    left: 2182px;
    top: 1547px;
    width: 490px;
    height: 500px;
    background: url("asset/i/b-gameMap/traktor_sheet_2x25.png") 0 0 no-repeat;
}
.b-game-item45 {
    left: 1992px;
    top: 1169px;
    width: 120px;
    height: 120px;
    background: url("asset/i/b-gameMap/paparazzi5_sheet_8x6.png") 0 0 no-repeat;
}
.b-game-item46 {
    left: 1833px;
    top: 1818px;
    width: 120px;
    height: 130px;
    background: url("asset/i/b-gameMap/paparazzi4_sheet_8x6.png") 0 0 no-repeat;
}
.b-game-item47 {
    left: 1856px;
    top: 2960px;
    width: 232px;
    height: 134px;
    background: url("asset/i/b-gameMap/paparazzi3_sheet_4x5.png") 0 0 no-repeat;
}
.b-game-item48 {
    left: 234px;
    top: 510px;
    width: 136px;
    height: 140px;
    background: url("asset/i/b-gameMap/paparazzi1_sheet_7x9.png") 0 0 no-repeat;
}
.b-game-item49 {
    left: 1992px;
    top: 1169px;
    width: 60px;
    height: 50px;
    background: url("asset/i/b-gameMap/black_friday5_sheet_17x6.png") 0 0 no-repeat;
}
.b-game-item50 {
    left: 1992px;
    top: 1169px;
    width: 180px;
    height: 120px;
    background: url("asset/i/b-gameMap/black_friday_4_sheet_5x15.png") 0 0 no-repeat;
}
.b-game-item51 {
    left: 1992px;
    top: 1169px;
    width: 86px;
    height: 56px;
    background: url("asset/i/b-gameMap/mermaid_2_sheet_11x2.png") 0 0 no-repeat;
}
.b-game-item52 {
    left: 3382px;
    top: 1620px;
    width: 90px;
    height: 160px;
    background: url("asset/i/b-gameMap/mermaid4_sheet_11x2.png") 0 0 no-repeat;
}
.b-game-item53 {
    left: 500px;
    top: 1249px;
    width: 326px;
    height: 198px;
    background: url("asset/i/b-gameMap/mermaid5_sheet_3x19.png") 0 0 no-repeat;
}
.b-game-item54 {
    left: 3368px;
    top: 2496px;
    width: 142px;
    height: 184px;
    background: url("asset/i/b-gameMap/sportexpress_sheet_7x6.png") 0 0 no-repeat;
}
.b-game-item55 {
    left: 2635px;
    top: 2299px;
    width: 118px;
    height: 190px;
    background: url("asset/i/b-gameMap/snowboard_girl_sheet_8x3.png") 0 0 no-repeat;
}
.b-game-item56 {
    left: 2925px;
    top: 2100px;
    width: 230px;
    height: 214px;
    background: url("asset/i/b-gameMap/maxim_sheet_4x21.png") 0 0 no-repeat;
}
.b-game-item57 {
    left: 142px;
    top: 2282px;
    width: 550px;
    height: 290px;
    background: url("asset/i/b-gameMap/quelle_2_sheet_1x26.png") 0 0 no-repeat;
}
.b-game-item58 {
    left: 962px;
    top: 1278px;
    width: 314px;
    height: 210px;
    background: url("asset/i/b-gameMap/quelle_sheet_3x13.png") 0 0 no-repeat;
}
.b-game-item59 {
    left: 2486px;
    top: 3150px;
    width: 282px;
    height: 160px;
    background: url("asset/i/b-gameMap/cycle1_sheet_3x29.png") 0 0 no-repeat;
}
.b-game-clothing {
    position: absolute;
    z-index: 1;
    /*cursor: pointer;*/
    background: url("asset/i/b-gameMap/clothing.png") 50% 50% no-repeat;
}
.b-game-clothing.mod_snowboard {
    left: 15px;
    top: 47px; 
    width: 91px;
    height: 58px;
    background-position: -54px -1px;    
}
.b-game-clothing.mod_snowboard-bra {
    left: 37px;
    top: 58px;
    width: 41px;
    height: 28px;
    background-position: -4px -4px;   
}
.b-game-clothing.mod_maxim1-bra {
    left: 147px;
    top: 65px;
    width: 30px;
    height: 16px;
    background-position: -300px -5px;  
}
.b-game-clothing.mod_maxim1 {
    left: 117px;
    top: 45px;
    width: 78px;
    height: 58px;
    background-position: -153px -2px;  
}
.b-game-clothing.mod_maxim2-bra {
    left: 37px;
    top: 123px;
    width: 33px;
    height: 32px;
    background-position: -10px -38px;  
}
.b-game-clothing.mod_maxim2 {
    left: 17px;
    top: 118px;
    width: 57px;
    height: 60px;
    background-position: -240px -1px; 
}
.b-game-clothing.mod_mermaid5 {
    left: 268px;
    top: 116px;
    width: 25px;
    height: 21px;
    background-position: -339px -5px;
}
.b-game-clothing.mod_mermaid4 {
    left: 37px;
    top: 37px;
    width: 32px;
    height: 34px;
    background-position: -302px -23px;
}
.b-game-clothing.mod_mermaid1 {
    left: 137px;
    top: 66px;
    width: 35px;
    height: 32px;
    background-position: -341px -27px;
}
.b-game-clothing.mod_mermaid2 {
    left: 448px;
    top: 124px;
    width: 35px;
    height: 26px;
    background-position: -377px -1px;
}

.b-game-item-static-dpd {
    left: 2330px;
    top: 3160px;
    width: 230px;
    height: 170px;
    background: url("asset/i/b-gameMap/b-gameMap-dpd.png") 0 0 no-repeat;
    z-index: 20;
}

.b-game-item-static-proscater {
    left: 1925px;
    top: 2230px;     
    width: 384px;
    height: 318px;
    background: url("asset/i/b-gameMap/b-gameMap-proscater.png") 0 0 no-repeat;
    z-index: 20;
}

.b-game-item-static-trees {
    left: 2265px;
    top: 2325px;
    width: 167px;
    height: 150px;
    background: url("asset/i/b-gameMap/b-gameMap-trees.png") 0 0 no-repeat;
    z-index: 20;
}

/* b-map-controls */
/*==========================================================*/
.b-map-controls,
.b-map-controls div {
    position: absolute;
    background-image: url(asset/i/b-gameMap/b-gameMap-controls.png);
}
.b-map-controls{
    opacity: 0;
    -webkit-transition: 0.2s 0.5s ease-in all; /* Safari/Chrome */
    transition: 0.2s 0.5s ease-in all; /* Future Browsers */
}
.b-map-controls.state_active{
    opacity: 1;
}
.b-map-controls {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 56px;
    height: 59px;
    z-index: 12000;
}

.b-map-controls-left,
.b-map-controls-right {
    cursor: pointer;
    width: 13px;
    height: 24px;
}

.b-map-controls-up,
.b-map-controls-down {
    cursor: pointer;
    width: 24px;
    height: 13px;
}

.b-map-controls-left {
    top: 16px;
    left: 4px;
    background-position: -60px -16px;
}
.b-map-controls-left:hover {
    background-position: -119px -16px;
}

.b-map-controls-right {
    top: 16px;
    left: 39px;
    background-position: -95px -16px;
}
.b-map-controls-right:hover {
    background-position: -154px -16px;
}

.b-map-controls-up {
    top: 4px;
    left: 16px;
    background-position: -72px -4px;
}
.b-map-controls-up:hover {
    background-position: -131px -4px;
}

.b-map-controls-down {
    top: 39px;
    left: 16px;
    background-position: -72px -39px;
}
.b-map-controls-down:hover {
    background-position: -131px -39px;
}
/* Quiz */
/*==========================================================*/
.b-map__quiz-img {
    margin-right: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 3px 0 rgba(0,0,0, .7);
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0, .7);
    box-shadow: 1px 1px 3px 0 rgba(0,0,0, .7);
    border: 1px solid #000;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
    width: 34px;
    height: 30px;
    top: -12px;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    background: #fff url(asset/i/b-quiz/quiz-small-sprite.png) no-repeat;
}
.b-map__quiz-img.achiev_caveoffear {
    background-position: -327px -117px;
}
.b-tooltip__quiz.state_active .b-map__quiz-img.achiev_caveoffear {
    background-position: -384px -117px;;
}
.b-map__quiz-img.achiev_maxim {
    background-position: -107px -267px;
}
.b-tooltip__quiz.state_active .b-map__quiz-img.achiev_maxim {
    background-position: -156px -267px;
}
.b-map__quiz-img.achiev_groupon {
    background-position: -4px -167px;
}
.b-tooltip__quiz.state_active .b-map__quiz-img.achiev_groupon {
    background-position: -53px -167px;
}
.b-map__quiz-img.achiev_sportexpress {
    background-position: -320px -267px;
}
.b-tooltip__quiz.state_active .b-map__quiz-img.achiev_sportexpress {
    background-position: -369px -267px;
}
.b-map__quiz-img.achiev_qiwi {
    background-position: -427px -222px;
}
.b-tooltip__quiz.state_active .b-map__quiz-img.achiev_qiwi {
    background-position: -484px -222px;
}
.b-map__quiz-img.achiev_pickpoint {
    background-position: -213px -165px;
}
.b-tooltip__quiz.state_active .b-map__quiz-img.achiev_pickpoint {
    background-position: -265px -165px;
}
.b-map__quiz-img.achiev_dpd {
    background-position: -4px -218px;
}
.b-tooltip__quiz.state_active .b-map__quiz-img.achiev_dpd {
    background-position: -53px -218px;
}
.b-tooltip__quiz {
    cursor: pointer;
    padding-top: 18px;
}
.b-tooltip__quiz .a-pseudo {
    color: #fff;
}
.b-map__quiz-title {
    font-size: 16px;
    font-weight: bold;
}
.b-map__quiz-note {
    white-space: nowrap;
    padding-top: 4px;
}
.b-map__quiz-note i {
    font-style: normal;
    color: #6c6c6c;
}

/* Zoom */
/*==========================================================*/
.b-map-controls-zoom {
    background-image: url(asset/i/b-gameMap/zoom_sprite.png);
    background-position: 0px -93px;
    width: 22px;
    height: 126px;
    position: absolute;
    top: 120px;
    left: 26px;
}
.b-map-controls-zoom_bullet {
    position: absolute;
    z-index: 100;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: 2px solid #000;
    background-color: #fff;
    left: 2px;
    top: 40px;
    background-image: url(asset/i/b-gameMap/zoom_sprite.png);
    background-position: -254.6px -87px;
    -moz-box-shadow: 0 3px 0 rgba(0,0,0,.24);
    -webkit-box-shadow: 0 3px 0 rgba(0,0,0,.24);
    box-shadow: 0 3px 0 rgba(0,0,0,.24);
}
.b-map-controls-zoom_bullet:hover {
    cursor: pointer;
    background-image: none;
    width: 18px;
    height: 18px;
    left: 0px;
    margin-top: -2px;
    border-color: #ed2759;
}
.b-map-controls-zoom-out {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-image: url(asset/i/b-gameMap/zoom_sprite.png);
    background-position: -188px -147px;
}
.b-map-controls-zoom-out:hover {
    background-position: -127px -149px;
}
.b-map-controls-zoom-in {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: url(asset/i/b-gameMap/zoom_sprite.png);
    background-position: -66px -149px;
}
.b-map-controls-zoom-in:hover {
    background-position: -67px -88px;
}

/* b-map-small */
.b-map-small {
    z-index: 1000;
    border: 2px solid #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    right: 12px;
    top: 52px;
    width: 180px;
    background-color: #fff;
    overflow: hidden;
}

.b-map-small-button {
    text-align: center;
    font-size: 13px;
    color: #000;
    height: 25px;
    line-height: 26px;
    position: relative;
}
.b-map-small-button:before {
    content: '';
    position: absolute;
    background-image: url(asset/i/b-gameMap/zoom_sprite.png);
    background-position: -134px -93px;
    width: 12px;
    height: 11px;
    right: 10px;
    top: 8px;
    -webkit-transition: 0.4s all linear;
    transition: 0.4s all linear;
}
.b-map-small-button:hover {
    background-color: #ffd631;
    cursor: pointer;
}
.b-map-small-button:active {
    background-color: #ffd631;
    -moz-box-shadow: inset 0 2px 2px 2px #ac7f07;
    -webkit-box-shadow: inset 0 2px 2px 2px #ac7f07;
    box-shadow: inset 0 2px 2px 2px #ac7f07;
}
.b-map-small.state_active .b-map-small-button:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.b-map-small.state_active .b-map-small-h {
    height: 161px;
    border-bottom: 1px solid #ddd;
}
.b-map-small-h {
    height: 0;
    position: relative;
    background: url(asset/i/b-gameMap/small_map.png) -2px -1px no-repeat;
    width: 180px;    
    overflow: hidden;
    -webkit-transition: 0.2s height ease;
    transition: 0.2s height ease;
}
.b-map-small-contur {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEUlEQVQIW2N4pxHlywADIA4AIQ0DeycgPJcAAAAASUVORK5CYII=) 0 0 repeat;
    width: 78px;
    height: 43px;
    position: absolute;
    z-index: 100;
    border: 1px solid #ee285a;
    -webkit-transition: 0.2s left linear, 0.2s top linear;
    transition: 0.2s left linear, 0.2s top linear;
}
.b-map-small-contur.state_move {
    cursor: move;
}
.b-map-small-contur:before,
.b-map-small-contur:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: -2px;
    bottom: -2px;
    border-bottom: 1px solid rgba(0,0,0,.6);
    border-right: 1px solid rgba(0,0,0,.6);
}
.b-map-small-contur:after {
    left: 1px;
    top: 1px;
    right: -3px;
    bottom: -3px;
}

.b-map-small_bullet {
    cursor: pointer;
    position: absolute;
    background: url(asset/i/b-gameMap/zoom_sprite.png) -197px 0px no-repeat;
    width: 19px;
    height: 22px;
    z-index: 150;
}
.b-map-small_bullet:hover {
    background-position: -128px 0px;
}
.b-map-small_bullet.mod_1 {
    left: 27px;
    top: 18px;
}
.b-map-small_bullet.mod_2 {
    left: 133px;
    top: 7px;
}
.b-map-small_bullet.mod_3 {
    left: 80px;
    top: 112px;
}
.b-map-small_bullet.mod_4 {
    left: 150px;
    top: 100px;
}
