<!-- MAP -->
<div class='b-map g-font' ng-class="inMove ? 'state_move' : ''">
  <div class='b-map-h'>
    <!-- biathlon -->
    <div class='b-game-run mod_biathlon'>
      <div class='b-game-run-top'>
        <div class='b-game-run-title'>
          Альпинист
        </div>
        <div class='b-game-run-note'>
          Покори самую высокую гору мира
          <br>
          и получи шанс выиграть iPhone 5S.
        </div>
      </div>
      <div class='b-button b-button_scheme_yellow mod_game-run'>
        <div class='b-button__text'>
          Играть
        </div>
        <a class='b-button__link' href='climber/'></a>
      </div>
    </div>
    <!-- End biathlon -->
    <!-- eti -->
    <div class='b-game-run mod_eti'>
      <div class='b-game-run-top'>
        <div class='b-game-run-title'>
          Фотоохота на йети
        </div>
        <div class='b-game-run-note'>
          Сделай как можно больше снимков<br> 
          с йети и получи <b>скидку до 500<span class="g-ruble">p</span></b>.
        </div>
      </div>
      <div class='b-button b-button_scheme_yellow mod_game-run'>
        <div class='b-button__text'>
          Играть
        </div>
        <a class='b-button__link' href='yeti/'></a>
      </div>
    </div>
    <!-- End eti -->
    <!-- climber -->
    <div class='b-game-run mod_climber'>
      <div class='b-game-run-top'>
        <div class='b-game-run-title'>
          Биатлон
        </div>
        <div class='b-game-run-note'>
          Точность выстрелов и скорость —
          <br>
          залог успеха. Не дай йети себя догнать.
        </div>
      </div>
      <div class='b-button b-button_scheme_yellow mod_game-run'>
        <div class='b-button__text'>
          Играть
        </div>
        <a class='b-button__link' href='biathlon/'></a>
      </div>    
    </div>
    <!-- End climber -->
    <div class="b-game-item b-game-item1" ng-style="item1.css" ng-mouseenter="item1.over = true" ng-mouseleave="item1.over = false"></div>
    <div class="b-game-item b-game-item2" ng-style="item2.css" ng-mouseenter="item2.over = true" ng-mouseleave="item2.over = false"></div>
    <div class="b-game-item b-game-item3" ng-style="item3.css" ng-mouseenter="item3.over = true" ng-mouseleave="item3.over = false"></div>
    <div class="b-game-item b-game-item4" ng-style="item4.css" ng-mouseenter="item4.over = true" ng-mouseleave="item4.over = false"></div>
    <div class="b-game-item b-game-item5" ng-style="item5.css" ng-mouseenter="item5.over = true" ng-mouseleave="item5.over = false"></div>
    <div class="b-game-item b-game-item6" ng-style="item6.css" ng-mouseenter="item6.over = true" ng-mouseleave="item6.over = false"></div>
    <div class="b-game-item b-game-item7" ng-style="item7.css" ng-mouseenter="item7.over = true" ng-mouseleave="item7.over = false"></div>
    <div class="b-game-item b-game-item8" ng-style="item8.css" ng-mouseenter="item8.over = true" ng-mouseleave="item8.over = false"></div>
    <div class="b-game-item b-game-item9" ng-style="item9.css" ng-mouseenter="item9.over = true" ng-mouseleave="item9.over = false"></div>
    <div class="b-game-item b-game-item10" ng-style="item10.css" ng-mouseenter="item10.over = true" ng-mouseleave="item10.over = false"></div>
    <div class="b-game-item b-game-item11" ng-style="item11.css" ng-mouseenter="item11.over = true" ng-mouseleave="item11.over = false"></div>
    <div class="b-game-item b-game-item12" ng-style="item12.css" ng-mouseenter="item12.over = true" ng-mouseleave="item12.over = false"></div>
    <div class="b-game-item b-game-item13" ng-style="item13.css" ng-mouseenter="item13.over = true" ng-mouseleave="item13.over = false"></div>
    
    <!--<div class="b-game-item b-game-item14" ng-style="item14.css"></div>-->
    <div ng-mouseenter="item15.over = true" ng-mouseleave="item15.over = false" class="b-game-item b-game-item15" ng-style="item15.css"></div>
    <div class="b-game-item b-game-item16" ng-style="item16.css" ng-mouseenter="item16.over = true" ng-mouseleave="item16.over = false"></div>
    <div class="b-game-item b-game-item17" ng-style="item17.css" ng-mouseenter="item17.over = true" ng-mouseleave="item17.over = false"></div>
    <div class="b-game-item b-game-item18" ng-style="item18.css" ng-mouseenter="item18.over = true" ng-mouseleave="item18.over = false"></div>
    <div class="b-game-item b-game-item19" ng-style="item19.css" ng-mouseenter="item19.over = true" ng-mouseleave="item19.over = false"></div>
    <!--
    <div class="b-game-item b-game-item20" ng-style="item20.css" ng-mouseenter="item20.over = true" ng-mouseleave="item20.over = false"></div>-->
    <div class="b-game-item b-game-item21" ng-style="item21.css" ng-mouseenter="item21.over = true" ng-mouseleave="item21.over = false"></div>
    <div class="b-game-item b-game-item22" ng-style="item22.css" ng-mouseenter="item22.over = true" ng-mouseleave="item22.over = false"></div>
    <div class="b-game-item b-game-item23" ng-style="item23.css" ng-mouseenter="item23.over = true" ng-mouseleave="item23.over = false"></div>
    <div class="b-game-item b-game-item24" ng-style="item24.css" ng-mouseenter="item24.over = true" ng-mouseleave="item24.over = false"></div>
    <div class="b-game-item b-game-item25" ng-style="item25.css" ng-mouseenter="item25.over = true" ng-mouseleave="item25.over = false"></div>
    <div class="b-game-item b-game-item26" ng-style="item26.css" ng-mouseenter="item26.over = true" ng-mouseleave="item26.over = false"></div>
    <div class="b-game-item b-game-item27" ng-style="item27.css" ng-mouseenter="item27.over = true" ng-mouseleave="item27.over = false"></div>
    <div class="b-game-item b-game-item28" ng-style="item28.css" ng-mouseenter="item28.over = true" ng-mouseleave="item28.over = false"></div>
    <div class="b-game-item b-game-item29" ng-style="item29.css" ng-mouseover="item29.over = true" ng-mouseleave="item29.over = false"></div>
    <div class="b-game-item b-game-item30" ng-style="item30.css" ng-mouseenter="item30.over = true" ng-mouseleave="item30.over = false"></div>
    <div class="b-game-item b-game-item-static-quelle"></div>
    <div class="b-game-item b-game-item-static-dpd"></div>
    <div class="b-game-item b-game-item-static-proscater"></div>
    <div class="b-game-item b-game-item-static-trees"></div>
    <!--<div class="b-map-decor mod_balloon"></div>-->
    <div class="b-map-decor mod_cloud1"></div>
    <div class="b-map-decor mod_cloud2"></div>
    <div class="b-map-decor mod_tree1"></div>
    <div class="b-map-decor mod_tree2"></div>    
  </div>
  <div ng-class="game ? 'state_active' : ''" data-controls class="b-map-controls">
      <div class="b-map-controls-left" ng-click="moveView('left');"></div>
      <div class="b-map-controls-right" ng-click="moveView('right');"></div>
      <div class="b-map-controls-up" ng-click="moveView('up');"></div>
      <div class="b-map-controls-down" ng-click="moveView('down');"></div>
  </div>

  
  <div class="b-map-controls-zoom">
      <div class="b-map-controls-zoom_bullet"></div>
      <div class="b-map-controls-zoom-in"></div>
      <div class="b-map-controls-zoom-out"></div>
  </div>

  <div class="b-map-small state_active">
      <div class="b-map-small-h">
          <div class="b-map-small-contur" style="left: 30px; top: 40px;"></div>
          <div class="b-map-small_bullet mod_1"></div>
          <div class="b-map-small_bullet mod_2"></div>
          <div class="b-map-small_bullet mod_3"></div>
          <div class="b-map-small_bullet mod_4"></div>
      </div>
      <div class="b-map-small-button">Миникарта</div>
  </div>

</div>
<div ng-transclude></div>
<!-- End MAP -->
