/*==========================================================*/
/* Eti */
/*==========================================================*/
.b-gameEti {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.b-gameEti-h {
    width: 4000px;
    height: 1000px;
}

/* b-gameEti-fone */
.b-gameEti-fone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 4000px;
    height: 1400px;
    margin-top: -64px;
}

.b-gameEti-fone .b-gameEti-fone-h {
    width: 4000px;
    height: 100%;
    background: url(asset/i/b-gameEti/b-gameEti-fone.png) 0 0 no-repeat;
}

/* Decoration-tree */
/*==========================================================*/
.b-gameEti .b-tree-decoration {
    position: absolute;
    z-index: 20;
    background-image: url('asset/i/b-gameEti/decorations-tree.png');
}

.b-gameEti .b-tree-decoration.mod1 {
    top: -32px;
    left: 84px;
    z-index: 40;
    width: 1747px;
    height: 849px;
    background-position: 0 0;
}

.b-gameEti .b-tree-decoration.mod2 {
    top: -2px;
    left: 1714px;
    z-index: 20;
    width: 386px;
    height: 656px;
    background-position: 0 -3902px;
}

.b-gameEti .b-tree-decoration.mod3 {
    top: 60px;
    left: 1912px;
    z-index: 52;
    width: 566px;
    height: 963px;
    background-position: 0 -4558px;
}

.b-gameEti .b-tree-decoration.mod4 {
    top: 0;
    left: 2122px;
    z-index: 20;
    width: 428px;
    height: 631px;
    background-position: 0 -5521px;
}

.b-gameEti .b-tree-decoration.mod5 {
    top: 24px;
    left: 2228px;
    z-index: 40;
    width: 381px;
    height: 734px;
    background-position: 0 -6152px;
}

.b-gameEti .b-tree-decoration.mod6 {
    top: 20px;
    left: 2354px;
    z-index: 50;
    width: 624px;
    height: 846px;
    background-position: 0 -6886px;
}

.b-gameEti .b-tree-decoration.mod7 {
    top: -6px;
    left: 2614px;
    z-index: 40;
    width: 407px;
    height: 659px;
    background-position: 0 -7732px;
}

.b-gameEti .b-tree-decoration.mod8 {
    top: 0;
    left: 2776px;
    z-index: 40;
    width: 413px;
    height: 620px;
    background-position: 0 -8391px;
}

.b-gameEti .b-tree-decoration.mod9 {
    top: 12px;
    left: 2914px;
    z-index: 40;
    width: 428px;
    height: 620px;
    background-position: 0 -9011px;
}

.b-gameEti .b-tree-decoration.mod10 {
    top: 14px;
    left: 2966px;
    z-index: 50;
    width: 713px;
    height: 818px;
    background-position: 0 -849px;
}

.b-gameEti .b-tree-decoration.mod11 {
    top: -8px;
    left: 3220px;
    z-index: 40;
    width: 386px;
    height: 661px;
    background-position: 0 -1667px;
}

.b-gameEti .b-tree-decoration.mod12 {
    top: 40px;
    left: 3438px;
    z-index: 42;
    width: 261px;
    height: 668px;
    background-position: 0 -2328px;
}

.b-gameEti .b-tree-decoration.mod13 {
    top: 64px;
    left: 3526px;
    z-index: 52;
    width: 561px;
    height: 906px;
    background-position: 0 -2996px;
}

/* character-tree */
/*==========================================================*/
.b-gameEti .b-character {
    position: absolute;
    z-index: 30;
    overflow: hidden;
}

.b-gameEti .b-character > * {
    display: none;
}

.b-gameEti .b-character .state_show-add,
.b-gameEti .b-character .state_show-remove,
.b-gameEti .b-character .state_show {
    display: block;
    -webkit-transition: 0.5s linear all; /* Safari/Chrome */
    -moz-transition: 0.5s linear all; /* Firefox */
    -ms-transition: 0.5s linear all; /* IE10 */
    -o-transition: 0.5s linear all; /* Opera */
    transition: 0.5s linear all; /* Future Browsers */
}

.b-gameEti .b-character .b-character-h {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('asset/i/b-gameEti/character.png');
}

.b-gameEti .b-character.bear {
    top: 740px;
    left: 2250px;
    width: 112px;
    height: 102px;
}

.b-gameEti .b-character.bear .b-character-h.state_show {
    height: 102px;
}

.b-gameEti .b-character.bear .b-character-h {
    width: 112px;
    height: 0;
    bottom: 0;
    top: auto;
    background-position: -29px -22px;
}

.b-gameEti .b-character.deer-skiing {
    top: 450px;
    z-index: 19;
    left: 0;
    width: 2089px;
    height: 147px;
}

.b-gameEti .b-character.deer-skiing .b-character-h {
    width: 150px;
    height: 147px;
    background-position: -37px -197px;
    left: 100%;
    top: 0;
}

.b-gameEti .b-character.deer-skiing .b-character-h.state_show,
.b-gameEti .b-character.deer-skiing .b-character-h.state_show.state_show-add-active {
    left: -150px;
}

.b-gameEti .b-character.deer-sledge .b-character-h.state_show,
.b-gameEti .b-character.deer-sledge .b-character-h.state_show.state_show-add-active {
    left: -271px;
}

.b-gameEti .b-character.deer-sledge .b-character-h.state_show-add {
    left: 100%;
}

.b-gameEti .b-character.deer-sledge {
    z-index: 45;
    position: absolute;
    overflow: hidden;
    left: 2680px;
    top: 511px;
    width: 512px;
    height: 264px;
}

.b-gameEti .b-character.deer-sledge.mod_1 {
    left: 671px;
    width: 590px;
    z-index: 10;
}

.b-gameEti .b-character.deer-sledge .b-character-h {
    width: 271px;
    height: 264px;
    top: 0;
    background-position: -22px -380px;
}

.b-gameEti .eti-ass-hover {
    position: absolute;
    left: 3447px;
    top: 553px;
    width: 73px;
    height: 75px;
    z-index: 1000;
}

.b-gameEti .b-character.eti-ass {
    top: 490px;
    left: 3335px;
    z-index: 45;
    width: 187px;
    height: 238px;
}

.b-gameEti .b-character.eti-ass .b-character-h.state_show {
    left: 0;
}

.b-gameEti .b-character.eti-ass .b-character-h {
    width: 100%;
    left: -100%;
    height: 100%;
    background: none;
}

.b-gameEti .b-character.eti-ass .b-character-hh {
    width: 100%;
    height: 100%;
    background-image: url('asset/i/b-gameEti/character.png');
    background-position: -55px -710px;
}

.b-gameEti .b-character.eti-ass.state_active .b-character-hh {
    background-position: -62px -1015px;
}

.b-gameEti .b-character.eti-fany {
    top: 330px;
    left: 1356px;
    z-index: 200;
    width: 366px;
    height: 526px;
}

.b-gameEti .b-character.eti-fany .b-character-h {
    display: block;
    width: 366px;
    height: 526px;
    background-position: 0 -1294px;
}

.b-gameEti .b-character.eti-full-face {
    bottom: 516px;
    left: 1870px;
    width: 141px;
    height: 133px;
}

.b-gameEti .b-character.eti-full-face .b-character-h.state_show {
    height: 133px;
}

.b-gameEti .b-character.eti-full-face .b-character-h {
    width: 141px;
    height: 0;
    bottom: 0;
    top: auto;
    background-position: -16px -2159px;
}

.b-gameEti .b-character.eti-hello {
    top: 450px;
    left: 1807px;
    width: 72px;
    z-index: 3;
    height: 171px;
}

.b-gameEti .b-character.eti-hello .b-character-h.state_show {
    width: 100%;
    height: 100%;
}

.b-gameEti .b-character.eti-hello .b-character-h {
    width: 0;
    height: 70%;
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    background-position: -48px -2329px;
}

.b-gameEti .b-character.eti-scare {
    -webkit-transform: rotate(-57deg);
    top: 334px;
    left: 2664px;
    z-index: 40;
    width: 248px;
    height: 255px;
}

.b-gameEti .b-character.eti-scare .b-character-h.state_show {
    top: 0;
    left: 0;
}

.b-gameEti .b-character.eti-scare .b-character-h {
    -webkit-transform: rotate(57deg);
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    background-position: -40px -2572px;
}

.b-gameEti .b-character.eti-skiing {
    top: 450px;
    z-index: 19;
    left: 2230px;
    width: 1771px;
    height: 130px;
}

.b-gameEti .b-character.eti-skiing .b-character-h {
    left: 100%;
    top: 0;
    width: 139px;
    height: 130px;
    background-position: -34px -2894px;
}

.b-gameEti .b-character.eti-skiing .b-character-h.state_show,
.b-gameEti .b-character.eti-skiing .b-character-h.state_show.state_show-add-active {
    left: -139px;
}

.b-gameEti .b-character.eti-strong {
    top: 345px;
    left: 2333px;
    width: 235px;
    z-index: 40;
    height: 385px;
}

.b-gameEti .b-character.eti-strong .b-character-h.state_show {
    width: 100%;
    height: 100%;
}

.b-gameEti .b-character.eti-strong .b-character-h {
    width: 0;
    height: 70%;
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    background-position: -103px -3087px;
}

.b-gameEti .b-character.men-skiing {
    top: 450px;
    z-index: 19;
    left: 1629px;
    width: 2371px;
    height: 107px;
}

.b-gameEti .b-character.men-skiing .b-character-h {
    left: 100%;
    top: 0;
    width: 148px;
    height: 107px;
    background-position: -14px -3540px;
}

.b-gameEti .b-character.men-skiing .b-character-h.state_show,
.b-gameEti .b-character.men-skiing .b-character-h.state_show.state_show-add-active {
    left: -148px;
}

.b-gameEti .b-character.women-skiing1 {
    top: 450px;
    z-index: 19;
    left: 1442px;
    width: 1751px;
    height: 109px;
}

.b-gameEti .b-character.women-skiing1 .b-character-h {
    left: 100%;
    top: 0;
    width: 148px;
    height: 109px;
    background-position: -6px -3719px;
}

.b-gameEti .b-character.women-skiing1 .b-character-h.state_show,
.b-gameEti .b-character.women-skiing1 .b-character-h.state_show.state_show-add-active {
    left: -148px;
}

.b-gameEti .b-character.women-skiing2 {
    top: 450px;
    z-index: 19;
    left: 0;
    width: 1528px;
    height: 113px;
}

.b-gameEti .b-character.women-skiing2 .b-character-h {
    left: 100%;
    top: 0;
    width: 159px;
    height: 113px;
    background-position: -4px -3902px;
}

.b-gameEti .b-character.women-skiing2 .b-character-h.state_show,
.b-gameEti .b-character.women-skiing2 .b-character-h.state_show.state_show-add-active {
    left: -159px;
}

.b-gameEti .b-character.eti-fly {
    top: 189px;
    left: 667px;
    z-index: 30;
    width: 611px;
    height: 324px;
}

.b-gameEti .b-character.eti-fly .b-character-h {
    top: 0;
    left: 100%;
    width: 381px;
    height: 170px;
    background-position: -16px -1879px;
}

.b-gameEti .b-character.eti-fly .b-character-h.state_show,
.b-gameEti .b-character.eti-fly .b-character-h.state_show.state_show-add-active {
    left: -381px;
    top: 154px;
}

.b-gameEti .b-character.eti-fly.mod_2 {
    top: 221px;
    left: 2231px;
    z-index: 51;
    width: 1448px;
    height: 626px;
}

.b-gameEti .b-character.eti-fly.mod_2 .b-character-h.state_show,
.b-gameEti .b-character.eti-fly.mod_2 .b-character-h.state_show.state_show-add-active {
    top: 456px;
}

.b-gameEti .eti-hover-tree {
    top: 415px;
    position: absolute;
    width: 160px;
    z-index: 1000;
    height: 199px;
}

/* b-gameEti-alert */
/*==========================================================*/
.b-gameEti-alert {
    border: 4px solid #000;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    z-index: 100;
    text-align: center;
    padding: 20px 0 26px 0px;
    opacity: 0;
}

.b-gameEti-alert.ng-leave {
    animation: b-gameEti-alert-anim 1.5s linear;
    -moz-animation: b-gameEti-alert-anim 1.5s linear;
    -webkit-animation: b-gameEti-alert-anim 1.5s linear;
}

@-webkit-keyframes b-gameEti-alert-anim {
    from {
        opacity: 0;
        margin-top: 20px;
        -webkit-animation-timing-function: ease-in;
    }
    20% {
        opacity: 1;
        margin-top: 0;
    }
    80% {
        opacity: 1;
        margin-top: 0;
    }
    to {
        opacity: 0;
        margin-top: -20px;
        -webkit-animation-timing-function: ease-out;
    }
}

@-moz-keyframes b-gameEti-alert-anim {
    from {
        opacity: 0;
        margin-top: 20px;
        -moz-animation-timing-function: ease-in;
    }
    20% {
        opacity: 1;
        margin-top: 0;
    }
    80% {
        opacity: 1;
        margin-top: 0;
    }
    to {
        opacity: 0;
        margin-top: -20px;
        -moz-animation-timing-function: ease-out;
    }
}

@keyframes b-gameEti-alert-anim {
    from {
        opacity: 0;
        margin-top: 20px;
        animation-timing-function: ease-in;
    }
    20% {
        opacity: 1;
        margin-top: 0;
    }
    80% {
        opacity: 1;
        margin-top: 0;
    }
    to {
        opacity: 0;
        margin-top: -20px;
        animation-timing-function: ease-out;
    }
}

.b-gameEti-alert.mod_white {
    background-color: #fff;
    color: #000;
}

.b-gameEti-alert.mod_red {
    background-color: #ee285a;
    color: #fff;
}

.b-gameEti-alert-title {
    font-size: 25px;
    font-weight: bold;
}

.b-gameEti-alert-note {
    font-size: 16px;
    padding: 0 34px;
    line-height: 21px;
    margin-top: 8px;
}

/* b-cursor  */
/*==========================================================*/
.b-gameEti.state_stopGame {
    cursor: default;
}

.b-gameEti {
    cursor: url(asset/i/b-gameEti/cursor.cur), auto;
}

/* b-popup */
/*==========================================================*/
.b-gameEti-popup {
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.b-gameEti-popup {
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    line-height: 20px;
    opacity: 1;
}

.b-gameEti-popup.ng-hide-add,
.b-gameEti-popup.ng-hide-remove {
    display: block !important;
}

.b-gameEti-popup.ng-hide {
    opacity: 0;
}

/* b-gameEti-panel */
/*==========================================================*/
.b-gameEti-panel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -62px;
    z-index: 20;
    height: 58px;
    background-color: #fff;
    border-top: 4px solid #000;
    z-index: 10001;
    -webkit-transition: bottom linear 0.2s;
    transition: bottom linear 0.2s;    
}
.b-gameEti-panel.state_active {
    bottom: 0; 
}
.b-gameEti-panel-h {
    padding: 8px 20px 0 20px;
}

.b-gameEti-panel-layaut {
    display: table;
}

/* b-gameEti-shots */
.b-gameEti-shots {
    font-size: 0;
    list-style: none;
    margin: 0;
    white-space: nowrap;
    padding: 0 10px;
}
.b-gameEti-shots-item {
    display: inline-block;
    background: url(asset/i/common/icons.png) -64px 0px no-repeat;
    width: 45px;
    height: 40px;
    margin: 0 9px;
}
.b-gameEti-shots-item.state_active {
    background-position: -111px 0px;
}

.b-gameEti-panel-column {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
}

.b-gameEti-panel-column.mod_first {
}

.b-gameEti-panel-column.mod_second {
    width: 100%;
    text-align: center;
}

.b-gameEti-panel-column.mod_third {
    font-size: 0;
}

.margin_space20 {
    margin-right: 20px;
}

/* b-gameEti-birds */
.b-gameEti-birds {
    background: url(asset/i/b-gameEti/b-gameEti-birds.png) 0 0 no-repeat;
    position: absolute;
}
.b-gameEti-birds_owl {
    background-position:  0px -128px;
    width: 111px;
    height: 110px;
    top: 124px;
    left: 3370px;
    z-index: 100;
}
.b-gameEti-birds_owl.state1 {
    background-position: -137px 0px;
    width: 127px;
    height: 118px;
    left: 3354px;
    top: 120px;
}
.b-gameEti-birds_owl.state2 {
    background-position: 0 0;
    width: 127px;
    height: 118px;
    left: 3354px;
    top: 120px;
}
.b-gameEti-birds_red {
    background-position: -187px -128px;
    width: 56px;
    height: 74px;
    left: 2904px;
    top: 108px;
    z-index: 40;
}
.b-gameEti-birds_red.state1 {
    background-position: -120px -128px;
}
