<!-- Cabinet -->
<div class="l-cabinet g-font">
    <div class="b-cabinet">
        <div class="b-cabinet-top">
            <div class="b-cabinet-top-title">Личные достижения</div>
            <div class="b-cabinet-userpic">
                <div class="b-cabinet-userpic-img">
                    <img ng-src="{{authData.avatar || 'asset/i/b-indexCabinet/userpic.png'}}" alt="image" class="b-cabinet-userpic-img-h">
                    <span class="b-cabinet-userpic-img-ico mod_helmet"></span>
                </div>
                <div class="b-cabinet-userpic-cont">
                    <span class="b-cabinet-userpic-name">{{getName(authData.name)}}</span>
                    <a href="" ng-click="logout()" class="b-cabinet-userpic-link">Выйти</a>
                </div>
            </div>

            <div class="b-cabinet-result">
                <div class="b-cabinet-result-top">
                    <div class="b-cabinet-result-column">
                        <div class="b-cabinet-result-count">
                            {{achievCount}}<span class="b-cabinet-result-count-h">/{{achievTotal}}</span>
                        </div>
                        <div class="b-cabinet-result-hint">трофеев</div>
                    </div>
                    <div class="b-cabinet-result-column">
                        <div class="b-cabinet-result-count">
                            {{score | stmNumber}}
                        </div>
                        <div class="b-cabinet-result-hint">баллов</div>
                    </div>
                    <div class="b-cabinet-result-column">
                        <div class="b-cabinet-result-count">
                            {{friends}}<span class="b-cabinet-result-count-h">/99+</span>
                        </div>
                        <div class="b-cabinet-result-hint">друзей</div>
                    </div>
                </div>
                <div class="b-cabinet-result-bottom">
                    <div class="b-cabinet-social" buttons-count="4" stm-index-social></div>
                </div>
            </div>

            <div class="b-cabinet-prize">
                <div class="b-cabinet-prize-note">
                    <div class="b-cabinet-prize-note-title">Призы</div>
                    <div class="b-cabinet-prize-note-hint">4 500 000<span class="g-ruble">p</span></div>
                </div>
                <div class="b-cabinet-prize-ico"></div>

            </div>
        </div>
        <div class="b-cabinet-main g-clearfix">
            <div class="b-cabinet-main-sidebar">

                <!-- Product -->
                <div class="b-cabinet-product">
                    <div class="b-cabinet-product-title">
                        Сочные цены
                    </div>
                    <div class="b-cabinet-product-list">
                        <div ng-repeat="card in products" class="b-cabinet-product-item">
                            <div class="b-cabinet-product-item-img">
                                <a ng-href="{{card.url}}" target="_blank"><img ng-class="card.modImg" ng-src="{{card.img}}" alt="image" class="b-cabinet-product-item-img-h"></a>
                            </div>
                            <div class="b-cabinet-product-item-text">
                                <a ng-href="{{card.subUrl}}" target="_blank" class="b-cabinet-product-item-section">{{card.subName}}</a><br>
                                <a ng-href="{{card.url}}" target="_blank" class="b-cabinet-product-item-link">{{card.title}}</a><br>
                                <span class="b-cabinet-product-price-old">{{card.oldPrice | stmNumber}}</span>&nbsp;&nbsp;<span class="b-cabinet-product-price">{{card.price | stmNumber}}<span class="g-ruble">p</span></span>
                                <!--<span class="b-cabinet-product-date">12.02.2014</span>-->
                            </div>
                        </div>
                    </div>
                    <br/>
                    <a href="sale/#sale">Другие товары распродажи</a>
                </div>
                <!-- /Product -->

                <!-- Partners -->
                <!--
                <div class="b-cabinet-partners">
                    <div class="b-cabinet-partners-list">
                        <div class="b-cabinet-partners-item">
                            <div class="b-cabinet-partners-logo">
                                <img src="asset/i/b-indexCabinet/partners-logo.png" alt="image" class="b-cabinet-partners-logo-h">
                            </div>
                            <div class="b-cabinet-partners-title">Участвуйте в конкурсах, покупайте и выигрывайте 5 айфонов, 3 айпада и пиджак</div>
                            <div class="b-cabinet-partners-note">Компании Quelle в этом году исполняется 10 лет. На сайте вы найдете тысячи экслюзивных предложений одежды и обуви.</div>
                        </div>
                        <div class="b-cabinet-partners-item">
                            <div class="b-cabinet-partners-logo">
                                <img src="asset/i/b-indexCabinet/userpic.png" alt="image" class="b-cabinet-partners-logo-h">
                            </div>
                            <div class="b-cabinet-partners-title">Участвуйте в конкурсах, покупайте и выигрывайте 5 айфонов, 3 айпада и пиджак</div>
                            <div class="b-cabinet-partners-note">Компании Quelle в этом году исполняется 10 лет. На сайте вы найдете тысячи экслюзивных предложений одежды и обуви.</div>
                        </div>
                        <div class="b-cabinet-partners-item">
                            <div class="b-cabinet-partners-logo">
                                <img src="asset/i/b-indexCabinet/userpic.png" alt="image" class="b-cabinet-partners-logo-h">
                            </div>
                            <div class="b-cabinet-partners-title">Участвуйте в конкурсах, покупайте и выигрывайте 5 айфонов, 3 айпада и пиджак</div>
                            <div class="b-cabinet-partners-note">Компании Quelle в этом году исполняется 10 лет. На сайте вы найдете тысячи экслюзивных предложений одежды и обуви.</div>
                        </div>
                    </div>

                    <div class="b-cabinet-partners-pager">
                        <a href="#" class="b-cabinet-partners-prev"></a>
                        <a href="#" class="b-cabinet-partners-next"></a>
                        <div class="b-cabinet-partners-count">1<span class="b-cabinet-partners-count-all">/18</span></div>
                    </div>

                    <a href="" class="b-cabinet-partners-all">Все партнеры проекта</a>

                </div>
                -->
                <!-- /Partners -->
                <!-- Event -->
                <!--
                <div class="b-cabinet-events">
                    <div class="b-cabinet-events-title">Сочные События</div>
                    <div class="b-cabinet-event-list">
                        <div class="b-cabinet-event-item">
                            <a href="#3" class="b-cabinet-event-link">Купон на скидку 300 руб. при покупке на сайте Сотмаркета</a>
                            <span class="b-cabinet-event-date">12.02.2014</span>
                        </div>
                        <div class="b-cabinet-event-item">
                            <a href="#3" class="b-cabinet-event-link">Купон на скидку 300 руб. при покупке на сайте Сотмаркета</a>
                            <span class="b-cabinet-event-date">12.02.2014</span>
                        </div>
                        <div class="b-cabinet-event-item">
                            <a href="#3" class="b-cabinet-event-link">Купон на скидку 300 руб. при покупке на сайте Сотмаркета</a>
                            <span class="b-cabinet-event-date">12.02.2014</span>
                        </div>
                        <div class="b-cabinet-event-item">
                            <a href="#3" class="b-cabinet-event-link">Купон на скидку 300 руб. при покупке на сайте Сотмаркета</a>
                            <span class="b-cabinet-event-date">12.02.2014</span>
                        </div>
                        <div class="b-cabinet-event-item">
                            <a href="#3" class="b-cabinet-event-link">Купон на скидку 300 руб. при покупке на сайте Сотмаркета</a>
                            <span class="b-cabinet-event-date">12.02.2014</span>
                        </div>
                    </div>
                </div>
                -->
                <!-- /Event -->
            </div>
            <div ng-repeat="game in games | orderBy:'title'" class="b-cabinet-main-content">
                
                <div class="b-cabinet-game">
                    <div class="b-cabinet-game-top">
                        <div class="b-cabinet-game-top-title"><a href="{{game.type}}/" class="__a">{{game.title}}</a><span class="__play">&nbsp;· <a href="{{game.type}}/">играть</a></span><!--<span class="b-cabinet-game-q"></span>--></div>
                        <div class="b-cabinet-game-result"><span class="b-cabinet-game-s"></span>{{game.score | stmNumber}}</div>
                    </div>                                    
                    <div class="b-cabinet-game-line">
                        <div stm-index-achievs-info="game.achievs" type="{{game.type}}"></div>                  
                    </div>
                </div>
            </div>
            <div class="b-cabinet-main-content">                
                <div class="b-cabinet-game">
                    <div class="b-cabinet-game-top mod_noscore">
                        <div class="b-cabinet-game-top-title"><a href="map/" class="__a">Квест на карте</a><span class="__play">&nbsp;· <a href="map/">начать квест</a></span><!--<span class="b-cabinet-game-q"></span>--></div>
                    </div>                                    
                    <div class="b-cabinet-game-line mod_nodescription">
                        <div ng-repeat="achiev in quizAchievs" class="b-quiz-achive __quiz-achiev">
                            <div class="b-quiz-achive-item">
                                <div ng-class="'mod_' + achiev.type + (achiev.active ? ' state_active' : '')" class="b-quiz-achive-item__h"></div>
                            </div>
                            <div class="b-quiz-achive-note ng-binding">{{achiev.text}}<div ng-if="achiev.isQuest" class="__achiev-comment" ng-bind-html="achiev.descr"></div><div ng-if="achiev.isQuiz" class="__achiev-comment">Найдите и ответьте<br>на 3 вопроса<br> {{achiev.descrFrom}}</div></div>
                        </div>  
                        <div ng-repeat="achiev in otherAchievs" class="b-quiz-achive __quiz-achiev">
                            <div class="b-quiz-achive-item">
                                <div ng-class="'mod_' + achiev.type + (achiev.active ? ' state_active' : '')" class="b-quiz-achive-item__h"></div>
                            </div>
                            <div class="b-quiz-achive-note ng-binding">{{achiev.text}}<div class="__achiev-comment" ng-bind-html="achiev.descrFrom"></div></div>
                        </div>                                                             
                    </div>
                </div>
            </div>                      
        </div>
        <div class="b-cabinet-footer">
            <!--<div class="b-cabinet-footer-title">Больше цвета — ближе победа</div>-->
            <br><br>
            <div class="b-cabinet-footer-note">Каждое новое достижение увеличивает ваши шансы в борьбе за главный приз</div>
            <div class='b-button mod_prize'>
                <div class='b-button__text'>Что можно выиграть?</div>
                <a class='b-button__link' href="sale/#sale"></a>
            </div>
        </div>
    </div>
</div>
<div stm-index-toolbar position="top"></div>
