/*==========================================================*/
/* MapTooltip */
/*==========================================================*/
.b-mapTooltip {
    position: absolute;
    background-color: rgba(0,0,0,.9);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    max-width: 280px;
    padding: 8px;
    text-align: center;
    color: #fff;
}

.b-maptooltip-lock,
.b-maptooltip-info {
    display: block;
    position: relative;
    padding-left: 36px;
    text-align: left;
    min-height: 34px;
}
.b-maptooltip-lock:before,
.b-maptooltip-info:before {
    background: url('asset/i/common/icons-pack.png') 0 -129px no-repeat;
    content: '';
    height: 22px;
    width: 15px;
    position: absolute;
    left: 8px;
    top: 6px;
}
.b-mapTooltip a {
    text-decoration: underline;
    color: #fff;
}
.b-mapTooltip a:hover {
    text-decoration: none;
}

.b-mapTooltip h2 {
    text-align: left;
    font-size: 18px;
    padding: 0 18px 9px 18px;
    margin: 0;
    color: #ffd820;
    font-weight: normal;
    white-space:nowrap;
    line-height: 20px;
}

.b-mapTooltip p {
    margin: 0;
    text-align: left;
    padding: 9px 20px 0 20px;
    line-height: 1.5em;
}
.b-mapTooltip p .b-maptooltip-info {
    padding-left: 28px;
}
.b-mapTooltip p .b-maptooltip-info:before {
    left: 0;
    width: 20px;
    background: url('asset/i/common/icons-pack.png') 0 -306px no-repeat;
}
.b-mapTooltip p a {
    color: #fff;
    text-decoration: none;
}
.b-mapTooltip p.last {
    margin-bottom: 0;
    padding-bottom: 0;
}

.b-mapTooltipInfo {
    color: #8b8b8b;
}