/* b-quiz */
/*==========================================================*/
.b-quiz {
    padding: 0px 20px;
}
.b-quiz-title {
    max-width: 650px;
    font-size: 24px;
    line-height: 26px ;
    margin-bottom: 24px;
}

/* b-quiz-achive-note */
.b-quiz-achive-note {
    padding-top: 3px;
    margin-bottom: 24px;
    color: #656565;
    font-size: 13px;
}

.b-quiz-text {
    margin-bottom: 30px;
}

.b-quiz-q {
    font-size: 18px;
    color: #bababa;
    margin-bottom: 10px;
}

.b-quiz-time {
    font-size: 16px;
    color: #bababa;
    margin-bottom: 20px;
}
.b-quiz-time.mod_alert {
    color: #ef265c;
}

/* b-quiz-panel */
.b-quiz-panel {
    margin: 0 -40px -26px -40px;
    padding: 20px 30px 30px 30px;
    background-color: #f7f7f7;
    box-shadow: inset 0 20px 30px -20px rgba(0,0,0,.2);
    -webkit-border-radius: 0 0 18px 18px;
    -moz-border-radius: 0 0 18px 18px;
    border-radius: 0 0 18px 18px;
}
.b-quiz-form-row {
    padding-top: 20px;
    margin-bottom: 10px;
}
.b-quiz-form-row-radio {
    margin-bottom: 10px;
    text-align: center;
}
.b-quiz-form-row-radio__h {
    text-align: left;
    display: inline-block;
}
.b-quiz-form-row-radio label:first-letter {
    text-transform: capitalize;
}
.input-radio {
    margin-top: 8px;
    display: inline-block;
    cursor: pointer;
    padding-left: 18px;
    position: relative;
}
.input-radio:before {
    top: 2px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #222;
    content: '';
    display: block;
    background-color: #fff;
    position: absolute;
}
.input-radio:hover:before {
    border: 1px solid #f5b814;
}

.radio-input-r {
    display: none;
}
.radio-input-r:checked + label:after {
    background-color: #000;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    content: '';
    position: absolute;
    left: 3px;
    top: 5px;
}

.b-quiz-top {
    margin: -26px -40px 0 -40px;
    background-color: #ffd820;
    -webkit-border-radius: 18px 18px 0 0;
    -moz-border-radius: 18px 18px 0 0;
    border-radius: 18px 18px 0 0;
    text-align: center;
    padding: 20px 0 22px 0;
    margin-bottom: 20px;
}
.b-quiz-top-title {
    font-weight: bold;
    font-size: 40px;
}
.b-quiz-top-note {
    font-size: 24px;
}
.b-quiz-panel .__page {
    color: gray;
    font-size: 11px;
    margin-bottom: 20px;
}

