<div class="g-font" style="background-color: #fff;">
    
<!-- ask-goods -->
<div class="b-popup-content">
    <div class="b-popup-title">Хотите больше сочных цен 30 апреля?</div> 
    <div class="ask-goods g-font">
        <div class="ask-goods__note">
            Выберите по одному товару в каждой из категорий. Товары, набравшие <br> больше всего голосов будут добавлены в распродажу с отличными скидками
        </div>

        <div class="ask-goods-tabs">
            <div class="ask-goods-tabs__item state_active ">Мобильные телефоны</div>
            <div class="ask-goods-tabs__item">Планшеты</div>
            <div class="ask-goods-tabs__item">Ноутбуки</div>
            <div class="ask-goods-tabs__item">Quelle</div>
            <div class="ask-goods-tabs__item">Prosckater</div>
        </div>

        <div class="ask-goods-tabs__cont">
            <ul class="ask-goods-list">
                <li class="ask-goods__item">
                    <input type="radio" name="item1" id="item1" class="input-radio2-r">
                    <label for="item1" class="input-radio2">
                        <span class="input-radio2__h">Apple iPhone 5S 16GB Space Gray</span>
                        <span class="ask-goods-product-labels">
                            <span class="sochiprice-product-old">2000<span class="g-ruble">p</span></span>
                            <span class="sochiprice-product-price">4000<span class="g-ruble">p</span></span>
                        </span>
                    </label>
                </li>
                <li class="ask-goods__item">
                    <input type="radio" name="item1" id="item2" class="input-radio2-r">
                    <label for="item2" class="input-radio2">
                        <span class="input-radio2__h">Apple iPhone 5S 16GB Space Gray</span>
                        <span class="ask-goods-product-labels">
                            <span class="sochiprice-product-old">2000<span class="g-ruble">p</span></span>
                            <span class="sochiprice-product-price">4000<span class="g-ruble">p</span></span>
                        </span>
                    </label>
                </li>
                <li class="ask-goods__item">
                    <input type="radio" name="item1" id="item3" class="input-radio2-r">
                    <label for="item3" class="input-radio2">
                        <span class="input-radio2__h">Apple iPhone 5S 16GB Space16GB Space GrayApple iPhone 5S 16GB Space Gray</span>
                        <span class="ask-goods-product-labels">
                            <span class="sochiprice-product-old">2000<span class="g-ruble">p</span></span>
                            <span class="sochiprice-product-price">4000<span class="g-ruble">p</span></span>
                        </span>
                    </label>
                </li>
                <li class="ask-goods__item">
                    <input type="radio" name="item1" id="item4" class="input-radio2-r">
                    <label for="item4" class="input-radio2">
                        <span class="input-radio2__h">Apple iPhone 5S 16GB Space Gray</span>
                        <span class="ask-goods-product-labels">
                            <span class="sochiprice-product-old">2000<span class="g-ruble">p</span></span>
                            <span class="sochiprice-product-price">4000<span class="g-ruble">p</span></span>
                        </span>
                    </label>
                </li>
            </ul>
        </div>

        <div class="ask-goods__buttons">
            <span class="b-button b-button_size_normal2  b-button_scheme_gray mod_border"><span class="b-button__text">Отменить</span><span ng-click="start()" class="b-button__link"></span></span>

            <span class="b-button b-button_size_normal2  b-button_scheme_yellow "><span class="b-button__text">Еще раз →</span><span class="b-button__link"></span></span>
            
            <span class="b-button b-button_size_normal2  b-button_scheme_yellow button_state_disabled mod_next-step"><span class="b-button__text">Еще раз →</span><span class="b-button__link"></span></span>
        </div>

    </div>        
</div>
<!-- End ask-goods -->


<!-- ask-goods -->
<div class="b-popup-content">
    <div class="b-popup-title">Спасибо за ваш выбор</div> 
    <div class="ask-goods g-font">
        <div class="ask-goods__note">
            Выберите по одному товару в каждой из категорий. Товары, набравшие <br> больше всего голосов будут добавлены в распродажу с отличными скидками
        </div>

        <div class="ask-goods-tabs">
            <div class="ask-goods-tabs__item state_active ">Мобильные телефоны</div>
            <div class="ask-goods-tabs__item">Планшеты</div>
            <div class="ask-goods-tabs__item">Ноутбуки</div>
            <div class="ask-goods-tabs__item">Quelle</div>
            <div class="ask-goods-tabs__item">Prosckater</div>
        </div>

        <div class="ask-goods-tabs__cont">
            <table class="ask-goods-result">
                <tr>
                    <td class="ask-goods-result__td">
                        <div class="ask-goods-result__item">
                            <div class="ask-goods-result__item-h">
                                <a href="#" class="ask-goods-result__item__link state_active">Apple iPhone 5S 16GB Apple iPhone 5S 16GB Space Gray</a>&nbsp;<span class="ask-goods-result-user">&mdash; ваш выбор</span>
                            </div>
                            <div class="ask-goods-result__item-decor" style="width: 70%;"></div>
                        </div>
                    </td>
                    <td class="ask-goods-result__td">
                        <span class="ask-goods-result-num">10 штук</span>
                    </td>
                    <td class="ask-goods-result__td">
                        <span class="ask-goods-result-num">2 290 голосов</span>
                    </td>
                </tr>
                <tr>
                    <td class="ask-goods-result__td">
                        <div class="ask-goods-result__item">
                            <div class="ask-goods-result__item-h">
                                <a href="#" class="ask-goods-result__item__link">Apple iPhone 5S 16GB Space Gray</a>
                            </div>
                            <div class="ask-goods-result__item-decor" style="width: 30%;"></div>
                        </div>
                    </td>
                    <td class="ask-goods-result__td">
                        <span class="ask-goods-result-num">10 штук</span>
                    </td>
                    <td class="ask-goods-result__td">
                        <span class="ask-goods-result-num">2 290 голосов</span>
                    </td>
                </tr>
                <tr>
                    <td class="ask-goods-result__td">
                        <div class="ask-goods-result__item">
                            <div class="ask-goods-result__item-h">
                                <a href="#" class="ask-goods-result__item__link">Apple iPhone 5S 16GB Space Gray</a>
                            </div>
                            <div class="ask-goods-result__item-decor" style="width: 10%;"></div>
                        </div>
                    </td>
                    <td class="ask-goods-result__td">
                        <span class="ask-goods-result-num">10 штук</span>
                    </td>
                    <td class="ask-goods-result__td">
                        <span class="ask-goods-result-num">2 290 голосов</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="ask-goods__buttons">
            <span class="b-button b-button_size_normal2  b-button_scheme_yellow mod_border"><span class="b-button__text">← Назад</span><span ng-click="start()" class="b-button__link"></span></span>

            <span class="b-button b-button_size_normal2  b-button_scheme_yellow "><span class="b-button__text">Еще раз →</span><span class="b-button__link"></span></span>
            
        </div>

    </div>        
</div>
<!-- End ask-goods -->
</div>
