<!-- About -->
<div class="l-sale g-font">
    <div class="l-sale-h">
        
        <div class="b-sale-logo">
            <div class="b-sale-logo__title">вагон подарков <br> и маленькая тележка</div>
            <div class="b-sale-logo__note">
                Это Сочные игры и у тебя есть шанс выиграть <br> 
                <b>Apple iPhone 5S, Apple iPad Mini или Apple iPod Nano</b>, а так же <br>
                тысячи других ценных подарков!
            </div>

        </div>
            
        <div ng-class="subscribeSuccess ?  'state_success' : ''" class="b-sale-subscribe">
            <div class="b-sale-subscribe__access mod_1">
                        <div class="b-sale-subscribe__access-icon"></div>
                        <div class="b-sale-subscribe__access-text">Письмо скоро придет!</div>
            </div>
            <form name="modelSubscribe.form" class="b-sale-subscribe-form g-form" ng-submit="submitSubscribe()" novalidate>
                <div class="b-form-row g-clearfix">
                    <div class="b-form-row__col size_2_3">
                        <input name="email" ng-model="modelSubscribe.email" required type="email" placeholder = "Электронная почта" class="b-form-input-text mod_subscribe">
                    </div>
                    <div class="b-form-row__col size_1_3">
                         <span ng-class="subscribeForm.isSend ? 'state_loading' : ''" ng-click="submitSubscribe()" class="b-button b-button_scheme_red mod_subscribe">
                            <span class="b-button__text">Начать игру</span>
                            <button class="b-button__link"></button>
                        </span>
                    </div>
                </div>
                <div class="b-form-row mod_hint">Подробности вышлем на почту </div>
            </form>
        </div>

        <div class="b-sale-content" style="position: relative;margin-top: -60px;">
            
            <div id="game" class="l-sale-title-big">
                <div class="b-sale-title-big">
                    <div class="b-sale-title-big__top">Сочные игры</div>
                    <div class="b-sale-title-big__bottom">Играй и выигрывай. Все по-честному</div>
                </div>
            </div>

            <p>Привествуем Вас на первых в Рунете Сочных Играх.<br>
            Игровой марафон продлится до 30 апреля. Ура! Все участники получат подарки и сувениры от партнеров и спонсоров проекта, а самые активные поборятся за главные призы и доступ к закрытой распродаже Сочные Цены.</p>

        </div>

        <div class="b-sale-sprint">
            <div class="b-sale-sprint-top">
                <div class="b-sale-sprint__title">Призовой фонд  2.000.000 <span class="g-ruble">p</span></div>
                
                <div class="b-sale-timer">
                    <div class="b-sale-timer__top">До начала продаж осталось</div>
                    <div class="b-sale-timer__list">
                        <div class="b-sale-timer__item">
                            <div class="b-sale-timer__item-count">{{timer.dd}}</div>
                            <div class="b-sale-timer__item-note">дней</div>
                        </div>
                        <div class="b-sale-timer__space"></div>
                        <div class="b-sale-timer__item">
                            <div class="b-sale-timer__item-count">{{timer.hh}}</div>
                            <div class="b-sale-timer__item-note">часов</div>
                        </div>
                        <div class="b-sale-timer__space"></div>
                        <div class="b-sale-timer__item">
                            <div class="b-sale-timer__item-count">{{timer.mm}}</div>
                            <div class="b-sale-timer__item-note">минут</div>
                        </div>
                        <div class="b-sale-timer__space"></div>
                        <div class="b-sale-timer__item">
                            <div class="b-sale-timer__item-count">{{timer.ss}}</div>
                            <div class="b-sale-timer__item-note">секунд</div>
                        </div>
                    </div>
                </div>
                <div ng-class="subscribeSuccess ?  'state_success' : ''" class="b-sale-subscribe">
                    <div class="b-sale-subscribe__access mod_2">
                        <div class="b-sale-subscribe__access-icon"></div>
                        <div class="b-sale-subscribe__access-text">Вскоре мы пригласим вас за подарками!</div>
                    </div>
                    <form name="modelSubscribe.form" class="b-sale-subscribe-form g-form" ng-submit="submitSubscribe()" novalidate>
                        <div class="b-form-row g-clearfix">
                            <div class="b-form-row__col size_2_3">
                                <input name="email" ng-model="modelSubscribe.email" required type="email" placeholder = "Электронная почта" class="b-form-input-text mod_subscribe">
                            </div>
                            <div class="b-form-row__col size_1_3">
                                 <span ng-class="subscribeForm.isSend ? 'state_loading' : ''" ng-click="submitSubscribe()" class="b-button b-button_scheme_red mod_subscribe">
                                    <span class="b-button__text">Участвовать</span>
                                    <button class="b-button__link"></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="b-sale-sprint-roud">
                <div class="b-sale-sprint-roud-title">предварительные розыгрыши призов</div>
                <div class="b-sale-sprint-roud__start">Старт</div>
                <div class="b-sale-sprint-roud__end">Финиш</div>
                <div class="b-sale-sprint-roud__line">
                    <div class="b-sale-sprint-roud__line-h">
                        <div class="b-sale-sprint-roud__line-active __normal">
                            <div ng-repeat="date in dates" ng-style="date.css" class="b-sale-sprint-roud__line-active-itembg __normal"></div>
                        </div>                    
                        <div class="b-sale-sprint-roud__line-active" ng-style="lineCss">
                            <div ng-repeat="date in dates" ng-style="date.css" class="b-sale-sprint-roud__line-active-itembg"></div>
                        </div>
                        <div ng-repeat="date in dates" ng-style="date.css" ng-class="date.cls" class="b-sale-sprint-roud__line-item">
                            <div class="b-sale-sprint-roud__line-note">{{date.text}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="b-sale-game-list g-clearfix">
            <div class="b-sale-game mod_1">
                <div class="b-sale-game-top">
                    <div class="b-sale-game-top-title">Фотоохота на Йети</div>
                     На самом деле Йети любят внимание. Сделай как можно больше их фотографий и забери свой подарок.
                </div>
                <div class="b-sale-game-bottom">
                    <div class="b-sale-game-bottom-note">Специальные подарки от NetPrint и Qiwi Wallet</div>
                    <a href="yeti/" class="b-button-sale">Получить подарок</a>
                </div>
            </div>
            <div class="b-sale-game mod_2">
                <div class="b-sale-game-top">
                    <div class="b-sale-game-top-title">Биатлон</div>
                    Порази как можно больше мишеней. Берегись Йети, который будет гнаться за тобой.
                </div>
                <div class="b-sale-game-bottom">
                    <div class="b-sale-game-bottom-note">Специальные подарки от СберБанка и PickPoint</div>
                    <a href="biathlon/" class="b-button-sale">Получить подарок</a>
                </div>
            </div>
            <div class="b-sale-game mod_3">
                <div class="b-sale-game-top">
                    <div class="b-sale-game-top-title">Альпинист</div>
                    Покори вершину горы. Терпение и настойчивость будут заслуженно вознаграждены.
                </div>
                <div class="b-sale-game-bottom">
                    <div class="b-sale-game-bottom-note"> Специальные подарки от Много.ру и Qiwi Wallet</div>
                    <a href="climber/" class="b-button-sale">Получить подарок</a>
                </div>
            </div>
        </div>
        

        <div id="sale" class="l-sale-title-big">
            <div class="b-sale-title-big">
                <div class="b-sale-title-big__top">Сочные цены</div>
                <div class="b-sale-title-big__bottom">Честные цены. Закрытая распродажа</div>
            </div>
        </div>
        
        <div class="b-sale-prods">
            <div class="b-sale-prods-h g-clearfix">
                <div ng-repeat="item in products" stm-index-product-card="item" ng-click="clickProduct($event, item)"></div>
            </div>
        </div>
        

        <div class="b-sale-pro">
            <div class="b-sale-pro__title">И еще сотни товаров по честным ценам</div>
            <div class="b-sale-timer mod_pro">
                <div class="b-sale-timer__top">До начала продаж осталось</div>
                <div class="b-sale-timer__list">
                    <div class="b-sale-timer__item">
                        <div class="b-sale-timer__item-count">{{timer.dd}}</div>
                        <div class="b-sale-timer__item-note">дней</div>
                    </div>
                    <div class="b-sale-timer__space"></div>
                    <div class="b-sale-timer__item">
                        <div class="b-sale-timer__item-count">{{timer.hh}}</div>
                        <div class="b-sale-timer__item-note">часов</div>
                    </div>
                    <div class="b-sale-timer__space"></div>
                    <div class="b-sale-timer__item">
                        <div class="b-sale-timer__item-count">{{timer.mm}}</div>
                        <div class="b-sale-timer__item-note">минут</div>
                    </div>
                    <div class="b-sale-timer__space"></div>
                    <div class="b-sale-timer__item">
                        <div class="b-sale-timer__item-count">{{timer.ss}}</div>
                        <div class="b-sale-timer__item-note">секунд</div>
                    </div>
                </div>
            </div>

            <div ng-class="subscribeSuccess ?  'state_success' : ''" class="b-sale-subscribe">
                    <div class="b-sale-subscribe__access mod_3">
                        <div class="b-sale-subscribe__access-icon"></div>
                        <div class="b-sale-subscribe__access-text">Считайте, что приглашение уже на почте!</div>
                    </div>
                    <form name="modelSubscribe.form" class="b-sale-subscribe-form g-form" ng-submit="submitSubscribe()" novalidate>
                        <div class="b-form-row g-clearfix">
                            <div class="b-form-row__col size_2_3">
                                <input name="email" ng-model="modelSubscribe.email" required type="email" placeholder = "Электронная почта" class="b-form-input-text mod_subscribe">
                            </div>
                            <div class="b-form-row__col size_1_3">
                                 <span ng-class="subscribeForm.isSend ? 'state_loading' : ''" ng-click="submitSubscribe()" class="b-button b-button_scheme_red mod_subscribe">
                                    <span class="b-button__text">Получить</span>
                                    <button class="b-button__link"></button>
                                </span>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="b-sale-copy"> © <a href="/">Сотмаркет</a> 2005–2014 </div>
        </div>
        

        <div class="b-sale-footer g-clearfix">
            <div class="b-sale-footer-left">
                <div stm-index-social-like class="b-sale-footer-left-h"></div>
            </div>
            <div class="b-sale-footer-right">
                <div class="b-sale-footer-right-title">Собери команду — <br>вместе призов больше </div>
            </div>
        </div>
    </div>

</div>
<!-- End About -->
<div stm-index-toolbar position="top"></div>
<div show="{{showSharePopup}}" stm-index-popup gomap="false" fixed="true" closable="closeSharePopup" width="490">
    <div class="b-popup-title">
        Первые 500 баллов
    </div>
    <div class="b-popup-note">
      Расскажи о Сочных Играх своим друзьям.<br>
      Собери сильную команду и получи второй<br>
      приз &mdash; новый Apple iPad
    </div>
</div>
<div ng-if="showSubscribePopup" stm-index-popup footer="false" fixed="true" closable="closeSubscribePopup" width="520" class="b-sale-popup-subscribe">
      <div ng-class="subscribeSuccess ?  'state_success' : ''" class="b-sale-subscribe">
                    <div class="b-sale-subscribe__access mod_popup">
                        <div class="b-sale-subscribe__access-icon"></div>
                        <div class="b-sale-subscribe__access-text">Считайте, что приглашение уже на почте!</div>
                        <p>Перейти на <a ng-href="{{subscribePopupProductUrl}}" target="_blank">страницу товара</a>.<p>
                    </div>      
                    <form name="modelSubscribe.form" class="b-sale-subscribe-form g-form" ng-submit="submitSubscribe(true)" novalidate>
                        <div class="__title">
                              Для доступа к товарам по указанным ценам,<br>
                              оставьте свою электронную почту
                        </div>
                        <div class="b-form-row g-clearfix">
                            <div class="b-form-row__col size_2_3">
                                <input name="email" ng-model="modelSubscribe.email" required type="email" placeholder = "Электронная почта" class="b-form-input-text mod_subscribe">
                            </div>
                            <div class="b-form-row__col size_1_3">
                                 <span ng-class="subscribeForm.isSend ? 'state_loading' : ''" ng-click="submitSubscribe(true)" class="b-button b-button_scheme_red mod_subscribe">
                                    <span class="b-button__text">Получить доступ</span>
                                    <button class="b-button__link"></button>
                                </span>
                            </div>
                        </div>
                    </form>      
        </div>
        <div class="__saledate">
            Первая распродажа состоится совсем скоро:
            <div class="__saledate-date">31 марта</div>
        </div>
    </div>
</div>
