<!-- About -->
<div class="l-sale g-font">
    <div class="l-sale-h">
        
        <div class="b-sale-logo">
            <div class="b-sale-logo__title">вагон подарков <br> и маленькая тележка</div>
            <div class="b-sale-logo__note">
                Это Сочные игры и у тебя есть шанс выиграть <br> 
                <b>Apple iPhone 5S, Apple iPad Mini или Apple iPod Nano</b>, а так же <br>
                тысячи других ценных подарков!
            </div>

        </div>
            
        <div ng-class="subscribeSuccess ?  'state_success' : ''" class="b-sale-subscribe">
            <div class="b-sale-subscribe__access mod_1">
                        <div class="b-sale-subscribe__access-icon"></div>
                        <div class="b-sale-subscribe__access-text">Письмо скоро прийдет!</div>
            </div>
            <form name="subscribeForm" class="b-sale-subscribe-form g-form" novalidate>
                <div class="b-form-row g-clearfix">
                    <div class="b-form-row__col size_2_3">
                        <input name="email" ng-model="email" required type="email" placeholder = "Электронная почта" class="b-form-input-text mod_subscribe">
                    </div>
                    <div class="b-form-row__col size_1_3">
                         <span ng-class="subscribeForm.isSend ? 'state_loading' : ''" ng-click="submitSubscribe()" class="b-button b-button_scheme_red mod_subscribe">
                            <span class="b-button__text">Жду письма</span>
                            <button class="b-button__link"></button>
                        </span>
                    </div>
                </div>
                <div class="b-form-row mod_hint">Подробности вышлем на почту </div>
            </form>
        </div>

        <div class="b-sale-content">
            
            <div class="l-sale-title-big">
                <div class="b-sale-title-big">
                    <div class="b-sale-title-big__top">Сочные игры</div>
                    <div class="b-sale-title-big__bottom">Играй и выигрывай. Все по-честному</div>
                </div>
            </div>

            <p>Привествуем Вас на первых в Рунете Сочных Играх. <br>
            Игровой марафон продлится 6 недель, до 24 марта 2014 года. Все участники получат подарки и сувениры от партнеров и спонсоров проекта, а самые активные поборятся за главные призы и доступу к закрытой распродаже Сочные Цены.</p>

        </div>

        <div class="b-sale-sprint">
            <div class="b-sale-sprint-top">
                <div class="b-sale-sprint__title">Призовой фонд  2.000.000 <span class="g-ruble">p</span></div>
                
                <div class="b-sale-timer">
                    <div class="b-sale-timer__top">До начала продаж осталось</div>
                    <div class="b-sale-timer__list">
                        <div class="b-sale-timer__item">
                            <div class="b-sale-timer__item-count">{{timer.dd}}</div>
                            <div class="b-sale-timer__item-note">дней</div>
                        </div>
                        <div class="b-sale-timer__space"></div>
                        <div class="b-sale-timer__item">
                            <div class="b-sale-timer__item-count">{{timer.hh}}</div>
                            <div class="b-sale-timer__item-note">часов</div>
                        </div>
                        <div class="b-sale-timer__space"></div>
                        <div class="b-sale-timer__item">
                            <div class="b-sale-timer__item-count">{{timer.mm}}</div>
                            <div class="b-sale-timer__item-note">минут</div>
                        </div>
                        <div class="b-sale-timer__space"></div>
                        <div class="b-sale-timer__item">
                            <div class="b-sale-timer__item-count">{{timer.ss}}</div>
                            <div class="b-sale-timer__item-note">секунд</div>
                        </div>
                    </div>
                </div>
                <div ng-class="subscribeSuccess ?  'state_success' : ''" class="b-sale-subscribe">
                    <div class="b-sale-subscribe__access mod_2">
                        <div class="b-sale-subscribe__access-icon"></div>
                        <div class="b-sale-subscribe__access-text">Вскоре мы пригласим вас за подарками!</div>
                    </div>
                    <form name="subscribeForm" class="b-sale-subscribe-form g-form" novalidate>
                        <div class="b-form-row g-clearfix">
                            <div class="b-form-row__col size_2_3">
                                <input name="email" ng-model="email" required type="email" placeholder = "Электронная почта" class="b-form-input-text mod_subscribe">
                            </div>
                            <div class="b-form-row__col size_1_3">
                                 <span ng-class="subscribeForm.isSend ? 'state_loading' : ''" ng-click="submitSubscribe()" class="b-button b-button_scheme_red mod_subscribe">
                                    <span class="b-button__text">Жду письма</span>
                                    <button class="b-button__link"></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="b-sale-sprint-roud">
                <div class="b-sale-sprint-roud-title">предварительные розыгрыши призов</div>
                <div class="b-sale-sprint-roud__start">Старт</div>
                <div class="b-sale-sprint-roud__end">Финиш</div>
                <div class="b-sale-sprint-roud__line">
                    <div ng-repeat="date in dates" ng-class="date.cls" class="b-sale-sprint-roud__line-item">
                        <div class="b-sale-sprint-roud__line-note">{{date.text}}</div>
                    </div>
                </div>
            </div>

        </div>


        <div class="b-sale-game-list g-clearfix">
            <div class="b-sale-game mod_1">
                <div class="b-sale-game-top">
                    <div class="b-sale-game-top-title">Фотоохота на Йети</div>
                    На самом деле йети любят внимание
                </div>
                <div class="b-sale-game-bottom">
                    <div class="b-sale-game-bottom-note">Специальные подарки от NetPrint и Qiwi Wallet</div>
                    <a href="yeti/" class="b-button-sale">Получить подарок</a>
                </div>
            </div>
            <div class="b-sale-game mod_2">
                <div class="b-sale-game-top">
                    <div class="b-sale-game-top-title">Биатлон</div>
                    На самом деле йети любят внимание
                </div>
                <div class="b-sale-game-bottom">
                    <div class="b-sale-game-bottom-note">Специальные подарки от NetPrint и Qiwi Wallet</div>
                    <a href="biathlon/" class="b-button-sale">Получить подарок</a>
                </div>
            </div>
            <div class="b-sale-game mod_3">
                <div class="b-sale-game-top">
                    <div class="b-sale-game-top-title">Альпинист</div>
                    На самом деле йети любят внимание
                </div>
                <div class="b-sale-game-bottom">
                    <div class="b-sale-game-bottom-note">Специальные подарки от NetPrint и Qiwi Wallet</div>
                    <a href="climber/" class="b-button-sale">Получить подарок</a>
                </div>
            </div>
        </div>
        

        <div class="l-sale-title-big">
            <div class="b-sale-title-big">
                <div class="b-sale-title-big__top">Сочные игры</div>
                <div class="b-sale-title-big__bottom">Честные цены. Закрытая распродажа</div>
            </div>
        </div>
        
        <div class="b-sale-prods">
            <div class="b-sale-prods-h g-clearfix">
                <div ng-repeat="card in products" class="b-sale-prod">
                    <span class="b-sale-product-image">
                        <img ng-class="card.modImg" class="b-product-image-h" ng-src="{{card.img}}">
                    </span>
                    <span class="b-sale-br">
                        <a ng-href="{{card.subUrl}}" target="_blank" class="b-sale-br-link">{{card.subName}}</a>&nbsp;/
                    </span>
                    <span class="b-sale-product-title">
                        {{card.title}}
                    </span>
                    <div class="b-sale-conts">
                        <div ng-if="card.oldPrice" class="b-sale-cont scheme_gray">{{card.oldPrice | stmNumber}} <span class="g-ruble">p</span></div>
                        <div class="b-sale-cont scheme_yellow">{{card.price | stmNumber}} <span class="g-ruble">p</span></div>
                    </div>
                    <a ng-href="{{card.url}}" target="_blank" class="b-sale-product-link"></a>
                </div>
            </div>
        </div>
        

        <div class="b-sale-pro">
            <div class="b-sale-pro__title">И еще сотни товаров по честным ценам</div>
            <div class="b-sale-timer mod_pro">
                <div class="b-sale-timer__top">До начала продаж осталось</div>
                <div class="b-sale-timer__list">
                    <div class="b-sale-timer__item">
                        <div class="b-sale-timer__item-count">{{timer.dd}}</div>
                        <div class="b-sale-timer__item-note">дней</div>
                    </div>
                    <div class="b-sale-timer__space"></div>
                    <div class="b-sale-timer__item">
                        <div class="b-sale-timer__item-count">{{timer.hh}}</div>
                        <div class="b-sale-timer__item-note">часов</div>
                    </div>
                    <div class="b-sale-timer__space"></div>
                    <div class="b-sale-timer__item">
                        <div class="b-sale-timer__item-count">{{timer.mm}}</div>
                        <div class="b-sale-timer__item-note">минут</div>
                    </div>
                    <div class="b-sale-timer__space"></div>
                    <div class="b-sale-timer__item">
                        <div class="b-sale-timer__item-count">{{timer.ss}}</div>
                        <div class="b-sale-timer__item-note">секунд</div>
                    </div>
                </div>
            </div>

            <div ng-class="subscribeSuccess ?  'state_success' : ''" class="b-sale-subscribe">
                    <div class="b-sale-subscribe__access mod_3">
                        <div class="b-sale-subscribe__access-icon"></div>
                        <div class="b-sale-subscribe__access-text">Считайте, что приглашение уже на почте!</div>
                    </div>
                    <form name="subscribeForm" class="b-sale-subscribe-form g-form" novalidate>
                        <div class="b-form-row g-clearfix">
                            <div class="b-form-row__col size_2_3">
                                <input name="email" ng-model="email" required type="email" placeholder = "Электронная почта" class="b-form-input-text mod_subscribe">
                            </div>
                            <div class="b-form-row__col size_1_3">
                                 <span ng-class="subscribeForm.isSend ? 'state_loading' : ''" ng-click="submitSubscribe()" class="b-button b-button_scheme_red mod_subscribe">
                                    <span class="b-button__text">Жду письма</span>
                                    <button class="b-button__link"></button>
                                </span>
                            </div>
                        </div>
                    </form>
            </div>
        </div>

        <div class="b-sale-footer g-clearfix">
            <div class="b-sale-footer-left">
                <div stm-index-social-like class="b-sale-footer-left-h"></div>
            </div>
            <div class="b-sale-footer-right">
                <div class="b-sale-footer-right-title">Собери команду — <br>вместе призов больше </div>
            </div>
        </div>
    </div>

</div>
<!-- End About -->
<div stm-index-toolbar position="top"></div>
