/* Achive */
.b-achive-row {
    white-space: nowrap;
    padding: 0 10px;
    font-size: 0;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 10px;
}
.b-achive-item {
    vertical-align: top;
    margin: 0 20px;
    display: inline-block;
    text-align: center;
}
.b-achive {
    position: relative;
    width: 88px;
    height: 80px;
}
.b-achive__h {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('asset/i/b-IndexPopup/b-achive.png') 0 0 no-repeat;
    display: inline-block;
}

.b-achive-item-note {
    font-size: 13px;
    color: #666;
    margin: 0 -10px;
    padding-top: 5px;
}

.b-achive__h.achiv_climber_journalist {
    background-position: 0px 0px;
    display: inline-block;
    width: 97px;
    height: 89px;
    left: -1px;
}

.b-achive__h.achiv_climber_journalist.state_active {
    background-position: -110px 0px;
    display: inline-block;
    width: 97px;
    height: 89px;
}

.b-achive__h.achiv_climber_pioneer {
    background-position: -220px 0px;
    display: inline-block;
    width: 101px;
    height: 81px;
    left: -6px;
}

.b-achive__h.achiv_climber_pioneer.state_active {
    background-position: -330px 0px;
    display: inline-block;
    width: 101px;
    height: 81px;
}

.b-achive__h.achiv_climber_amateurfauna {
    background-position: -450px 0px;
    display: inline-block;
    width: 95px;
    height: 83px;
    left: -7px;
}

.b-achive__h.achiv_climber_amateurfauna.state_active {
    background-position: -560px 0px;
    display: inline-block;
    width: 95px;
    height: 83px;
}

.b-achive__h.achiv_climber_resistance {
    background-position: 0px -110px;
    display: inline-block;
    width: 94px;
    height: 79px;
    left: 1px;
}

.b-achive__h.achiv_climber_resistance.state_active {
    background-position: -110px -110px;
    display: inline-block;
    width: 94px;
    height: 79px;
}

.b-achive__h.achiv_climber_kingofhill {
    background-position: -230px -110px;
    display: inline-block;
    width: 96px;
    height: 85px;
    left: -7px;
}

.b-achive__h.achiv_climber_kingofhill.state_active {
    background-position: -350px -110px;
    display: inline-block;
    width: 96px;
    height: 85px;
}

.b-achive__h.achiv_biathlon_journalist {
    background-position: 0px -210px;
    display: inline-block;
    width: 106px;
    height: 87px;
    left: -10px;
}

.b-achive__h.achiv_biathlon_journalist.state_active {
    background-position: -120px -210px;
    display: inline-block;
    width: 106px;
    height: 87px;
}

.b-achive__h.achiv_biathlon_ironnerves {
    background-position: -240px -210px;
    display: inline-block;
    width: 87px;
    height: 85px;
    left: 1px;
    top: -2px;
}

.b-achive__h.achiv_biathlon_ironnerves.state_active {
    background-position: -350px -210px;
    display: inline-block;
    width: 87px;
    height: 85px;
}

.b-achive__h.achiv_biathlon_lionheart {
    background-position: -460px -210px;
    display: inline-block;
    width: 87px;
    height: 88px;
    left: 1px;
}

.b-achive__h.achiv_biathlon_lionheart.state_active {
    background-position: -570px -210px;
    display: inline-block;
    width: 87px;
    height: 88px;
}

.b-achive__h.achiv_biathlon_starshooter {
    background-position: 0px -320px;
    display: inline-block;
    width: 94px;
    height: 83px;
    bottom: -4px;
    left: 1px;
}

.b-achive__h.achiv_biathlon_starshooter.state_active {
    background-position: -110px -320px;
    display: inline-block;
    width: 94px;
    height: 83px;
}

.b-achive__h.achiv_biathlon_lasthero {
    background-position: -230px -320px;
    display: inline-block;
    width: 87px;
    height: 90px;
    left: 1px;
    top: -8px;
}

.b-achive__h.achiv_biathlon_lasthero.state_active {
    background-position: -340px -320px;
    display: inline-block;
    width: 87px;
    height: 90px;
}

.b-achive__h.achiv_yeti_journalist {
    background-position: 0px -440px;
    display: inline-block;
    width: 96px;
    height: 103px;
}

.b-achive__h.achiv_yeti_journalist.state_active {
    background-position: -120px -440px;
    display: inline-block;
    width: 96px;
    height: 103px;
}

.b-achive__h.achiv_yeti_allinclusive {
    background-position: -230px -440px;
    display: inline-block;
    width: 104px;
    height: 95px;
    left: -11px;
}

.b-achive__h.achiv_yeti_allinclusive.state_active {
    background-position: -350px -440px;
    display: inline-block;
    width: 104px;
    height: 95px;
}

.b-achive__h.achiv_yeti_olenevod {
    background-position: -470px -440px;
    display: inline-block;
    width: 98px;
    height: 97px;
    left: 1px;
}

.b-achive__h.achiv_yeti_olenevod.state_active {
    background-position: -590px -440px;
    display: inline-block;
    width: 98px;
    height: 97px;
}

.b-achive__h.achiv_yeti_amongstrangers {
    background-position: 0px -590px;
    display: inline-block;
    width: 90px;
    height: 88px;
    left: -2px;
}

.b-achive__h.achiv_yeti_amongstrangers.state_active {
    background-position: -120px -590px;
    display: inline-block;
    width: 90px;
    height: 88px;
}

