.b-form-top {
    color: #000;
    font-size: 13px;
    position: relative;
    padding-top: 14px;
    margin-bottom: 6px;
}

.b-form-top__more,
a.b-form-top__more {
    position: absolute;
    right: 16px;
    font-size: 11px;
    color: #000;
}
.b-form-top__more:before {
    background: url(asset/i/b-IndexPopup/b-popup-sprite.png) -204px -138px no-repeat;
    width: 11px;
    height: 11px;
    content: '';
    position: absolute;
    right: -14px;
    top: 1px;
}
.b-form-top__more-text {
    color: #000;
    font-size: 11px;
    border-bottom: 1px solid #000;
}
.b-form-top__more:hover .b-form-top__more-text{
    border-color: transparent;
}

.b-form-row {
    position: relative;
}

.b-form-input-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 38px;
    line-height: 140%;
    font-size: 16px;
    padding: 7px 10px;
    border: 1px solid #a8a8a8;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    margin: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: monospace;
}
.b-form-input-text:focus {
    -moz-box-shadow:  0 0 2px rgba(0,0,0, .2);
    -webkit-box-shadow:  0 0 2px rgba(0,0,0, .2);
    box-shadow:  0 0 2px rgba(0,0,0, .2);
    outline: none;
}
/* b-form-row */
/*==========================================================*/
.b-form-row {

}
.b-form-row__col {
    float: left;
}
.b-form-row__col.size_1_3 {
    width: 33.3334%;
}
.b-form-row__col.size_2_3 {
    width: 66.6666%;
}


/* b-column-form */
/*==========================================================*/
.b-column-form {
    float: left;
}
.b-column-form_size_3-8 {
    width: 37.5%;
}
.b-column-form_size_5-8 {
    width: 62.5%;
}
.b-column-form-ins {
  float: right;
}

/* b-form-label */
/*==========================================================*/
.b-form-label {
  font-size: 15px;
  display: inline-block;
  margin-bottom: 6px;
}
.b-form-label .__country {
    white-space: nowrap;
    font-size: 11px;
}
.b-form-label .__country_item.state_active {
    color: #a8a8a8;
}
.b-form-label .__country_item {
    margin-right: 7px;
}

/* b-form-row */
/*==========================================================*/
.b-form-row {
    margin-top: 14px;
}

/* b-sex */
.b-sex {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0;

}
.b-sex___item {
  display: inline-block;
}
.custom-checkbox-hide {
  display: none;
}

.custom-checkbox {
  cursor: pointer;
  padding: 7px 7px 9px 7px;
  font-size: 18px;
  line-height: 20px;
  height: 38px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.custom-checkbox_first {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    border-left: 1px solid #eaeaea;
}
.custom-checkbox_last {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #eaeaea;
}
.custom-checkbox.state_active {
  background-color: #ffd731;
  border-color: #ffd731;
}
.custom-checkbox.state_active .custom-checkbox__text {
  border-bottom-color: transparent;
}
.custom-checkbox__text {
  border-bottom: 1px dashed #000;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
