/* b-buttons-popup */
/*==========================================================*/
.b-buttons-popup {
    width: 210px;
    border: 3px solid #000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #000;
    color:#fff;
    font-size: 21px;
    text-align: center;
    margin-top: 45px;
}

.b-buttons-popup.ng-hide-add,
.b-buttons-popup.ng-hide-remove {
    display:block!important;
}

.b-buttons-popup.ng-hide {
    opacity:0;
    transition-delay: 1000ms;
}

.b-buttons-popup .__text {
    padding: 20px 10px 20px 10px;
    line-height: 1.3em;    
}

.b-buttons-popup .key {
    color: #000;
    font-size: 35px;
    margin: -45px auto 0 auto;
    width: 83px;
    height: 82px;
    background: url("asset/i/b-indexButtonsPopup/b-indexButtonsPopup-key.gif") 0 0 no-repeat;
}
.b-buttons-popup .key span {
    display: block;
    line-height: 80px;
}

.b-buttons-popup-space {
    width: 376px;
}
.b-buttons-popup-space .key {
    width: 249px;
    background-position: 0 -83px;
}

.b-buttons-popup-bottom .key span,
.b-buttons-popup-top .key span,
.b-buttons-popup-right .key span,
.b-buttons-popup-left .key span {
    position: relative;
    top: 16px;
    left: 23px;
    width: 37px;
    height: 37px;
    background: url("asset/i/b-indexButtonsPopup/b-indexButtonsPopup-key.gif") -83px 0 no-repeat;
}
.b-buttons-popup-bottom .key span {
    top: 19px;
}
.b-buttons-popup-right .key span {
    background-position: -83px 0;
}
.b-buttons-popup-left .key span {
    background-position: -120px 0;
}
.b-buttons-popup-top .key span {
    background-position: -157px 0;
}
.b-buttons-popup-bottom .key span {
    background-position: -194px 0;
}
