/* b-buttons-popup */
/*==========================================================*/
.b-warning-popup {
    width: 210px;
    border: 4px solid #000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ee285a;
    color:#fff;
    font-size: 16px;
    text-align: center;
    margin-top: 45px;
    position: relative;
}

.b-warning-popup.ng-hide-add,
.b-warning-popup.ng-hide-remove {
    display:block!important;
}

.b-warning-popup.ng-hide {
    opacity:0;
    transition-delay: 1000ms;
}

.b-warning-popup .__text {
    padding: 35px 10px 20px 10px;
    line-height: 1.3em;
}

.b-warning-popup h3,
.b-warning-popup h4,
.b-warning-popup h5 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 .5em 0;
}
.b-warning-popup .icon {
    position: absolute;
    top:-85px;
    left:50%;
    margin-left: -61px;
    width: 122px;
    height: 111px;
    background: url("asset/i/b-warningPopup/b-warning-icon.png") 0 0 no-repeat;
    animation: 1s ease 0s normal none infinite swing;
    -moz-animation: 1s ease 0s normal none infinite swing;
    -webkit-animation:swing 1s infinite ease-in-out;
    transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
}


@-moz-keyframes swing{
    0%{-moz-transform:rotate(-5deg)}
    50%{-moz-transform:rotate(5deg)}
    100%{-moz-transform:rotate(-5deg)}
}

@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-5deg)}
    50%{-webkit-transform:rotate(5deg)}
    100%{-webkit-transform:rotate(-5deg)}
}

@keyframes swing{
    0%{transform:rotate(-5deg)}
    50%{transform:rotate(5deg)}
    100%{transform:rotate(-5deg)}
}