<!-- Sochi price -->
<div class="l-sochiprice g-font">
    <!-- header -->
    <div class="sochiprice-header g-text_center">
        <div class="sochiprice-container">
            <span class="sochiprice-logo-title">Сочные цены 2014</span>
            <div class="sochiprice-title-top">Здесь только сочные скидки <b>до 90%</b></div>
        </div>
        
        <ul class="sochiprice-menu">
            <li ng-repeat="item in menu" class="sochiprice-menu__item" ng-class="item == category ? 'state_active' : ''"><a ng-href="{{baseUrl + (item.isRoot ? '' : '?c=' + item.type)}}" class="sochiprice-menu__item-link">{{item.title}}</a></li>
        </ul>

    </div>
    <!-- End header -->

    <!-- sochi content -->
    <div ng-if="!hasPermission && isAuth" class="sochiprice-content">
        <div class="sochiprice-container">
            <div class="sochiprice-info">Для доступа к распродаже вам не хватает <span ng-if="userData.score < 5000"><b>{{(5000 - userData.score) | stmNumber}} баллов</b></span><span> либо </span><span ng-if="userData.achievs < 9"><b>{{(9 - userData.achievs) | stmHowMany:' достижение':' достижения':' достижений'}}</b></span>.
</div>         
        </div>
    </div>   
    <div class="sochiprice-content">
        <div class="sochiprice-container">
            <div class="sochiprice-title">{{category.title}}</div>
            
            <div class="sochiprice-select-panel">  
                       <div class="sochiprice-sel-l">
                           <div class="sochiprice-sel">
                               <label class="sochiprice-select-label">Скидка</label>
                               <div ng-class="filters['f.discount'].active ? 'state_dropdown' : ''" class="sochiprice-selectbox">
                                   <div ng-click="showDropdown(filters['f.discount'])" class="sochiprice-select">
                                       <div class="sochiprice-selусе-text" ng-bind-html="filters['f.discount'].selected.text"></div>
                                   </div>
                                   <div class="sochiprice-select-dropdown">
                                       <ul>
                                           <li ng-repeat="item in filters['f.discount'] | filter:selectFilter" ng-class=" item == filters['f.discount'].selected ? 'sochiprice-selected' : ''" ng-click="doFilter('f.discount', item)"><span ng-bind-html="item.text"></span><i>{{item.total}}</i></li>
                                       </ul>
                                   </div>
                               </div>
                           </div>                       
                       </div>
                       <div class="sochiprice-sel-l">                       
                           <div class="sochiprice-sel">
                               <label class="sochiprice-select-label">Цена</label>
                               <div ng-class="filters['f.price'].active ? 'state_dropdown' : ''" class="sochiprice-selectbox">
                                   <div ng-click="showDropdown(filters['f.price'])" class="sochiprice-select">
                                       <div class="sochiprice-selусе-text" ng-bind-html="filters['f.price'].selected.text"></div>
                                   </div>
                                   <div class="sochiprice-select-dropdown">
                                       <ul>
                                           <li ng-repeat="item in filters['f.price'] | filter:selectFilter" ng-class=" item == filters['f.price'].selected ? 'sochiprice-selected' : ''" ng-click="doFilter('f.price', item)"><span ng-bind-html="item.text"></span><i>{{item.total}}</i></li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                    </div>
            </div>
            
            <div class="sochiprice-product-list">
                <div class="sochiprice-product-list-h">
                    <div ng-repeat="item in goods.items.data" style="display: inline-block; vertical-align:top;">
                        <div stm-index-product-card="item"></div>
                    </div> 
                </div>
                <div ng-if="isGoodsLoading" class="g-loadmask"></div>
            </div>

            <ul ng-if="lastPage > 0" class="sochiprice-paginator">
                <li ng-if="page == 0" class="sochiprice-paginator__item state_disabled">← Назад</li>
                <li ng-if="page > 0" class="sochiprice-paginator__item">← <a ng-href="{{getUrl({p: page-1})}}" class="sochiprice-paginator__item-link">Назад</a></li>
                <li ng-repeat="n in [] | range:(pageRange[1] - pageRange[0] + 1)" ng-class="n + pageRange[0] == page ? 'state_active' : ''" class="sochiprice-paginator__item"><a ng-href="{{getUrl({p: pageRange[0] + n})}}" class="sochiprice-paginator__item-link">{{(pageRange[0] + n + 1)}}</a></li>
                <li ng-if="page < lastPage" class="sochiprice-paginator__item"><a href="{{getUrl({p: page + 1})}}" class="sochiprice-paginator__item-link">Вперед</a> →</li>
                <li ng-if="page == lastPage" class="sochiprice-paginator__item state_disabled">Вперед →</li>
            </ul>
        </div>
    </div>
    <!-- End sochi content -->
</div>
<div stm-index-toolbar position="top"></div>
<!-- End Sochi price -->
<div ng-if="showAuthPopup" stm-index-popup="priceauth" footer="false" fixed="true" closable="closeAuthPopup">
    <div class="b-popup-note">Авторизуйтесь, чтобы получить доступ к специальным ценам<br>закрытой распродажи "Сочные Цены"</div>
    <span class="b-button b-button_size_normal2  b-button_scheme_yellow">
        <span class="b-button__text">Авторизоваться</span>
        <span ng-click="auth();close()" class="b-button__link"></span>
    </span>
    <span class="b-button b-button_size_normal2  b-button_scheme_gray">
        <span class="b-button__text">Отмена</span>
        <span ng-click="close()" class="b-button__link"></span>
    </span>
</div>
