/* b-bonusInfo */
/*==========================================================*/
.b-popup__top-result {
    position: relative;
    background-color: #ffd820;
    -webkit-border-radius: 18px 18px 0 0px;
    -moz-border-radius: 18px 18px 0 0px;
    border-radius: 18px 18px 0 0px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    padding: 12px 0 1px 0;
}

.b-popup__top-result-title {
    font-size: 40px;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 120%;
}

.b-icons_star2 {
    width: 25px;
    height: 23px;
    top: -4px;
}
.b-icons_star2 .b-icons__item {
    background: url('asset/i/b-IndexPopup/b-popup-sprite.png') -204px -66px no-repeat;
    width: 25px;
    height: 23px;
}
.b-popup__top-result-note {
    text-align: center;
    font-size: 13px;
    margin-top: -4px;
}
.b-popup__top-result-note:last-child{
    margin-bottom: 15px;
}

.b-slide-result {
    padding-top: 5px;
}
.b-slide-result.state_active .b-slide-result-row{
    height: 119px;
}
.b-slide-result.state_active .b-slide-result-arrow:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.b-slide-result-arrow {
    opacity: .6;
    margin: 8px auto;
    cursor: pointer;
    width: 20px;
    height: 9px;
    position: relative;
}
.b-slide-result-arrow:hover {
    opacity: 1;
}
.b-slide-result-arrow:after {
    display: block;
    position: absolute;
    content: '';
    background: url('asset/i/b-IndexPopup/b-popup-sprite.png') -204px -109px no-repeat;
    width: 20px;
    height: 9px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.2s linear all; /* Safari/Chrome */
    transition: 0.2s linear all; /* Future Browsers */
}
.b-slide-result-arrow:before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -40px;
    right: -40px;
}
.b-slide-result-row {
    text-align: center;
    font-size: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: 0.2s linear all; /* Safari/Chrome */
    transition: 0.2s linear all; /* Future Browsers */
}

.b-slide-result-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 7px 16px 0;
}
.b-slide-result-icon {
    background: url('asset/i/b-IndexPopup/b-popup-sprite.png') 0 0 no-repeat;
    width: 82px;
    height: 82px;
    margin-bottom: 6px;
}
.b-slide-result-item.mod_g1 .b-slide-result-icon {
    background-position: -102px -102px;
}
.b-slide-result-item.mod_mnogo .b-slide-result-icon {
    background-position: 0 0;
}
.b-slide-result-item.mod_sber .b-slide-result-icon {
    background-position: 0 -102px;
}
.b-slide-result-item.mod_dpd .b-slide-result-icon,
.b-slide-result-item.mod_pickpoint .b-slide-result-icon {
    background-position: -102px 0;
}
.b-slide-result-item.mod_qiwi .b-slide-result-icon {
    background-position: -2px -188px;
}
.b-slide-result-text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

