/* b-popup */
/*==========================================================*/
.b-popup {
  position: relative;
  border: 3px solid #000;
  background-color: #fff;
  min-width: 590px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.b-popup-l {
    overflow: auto;
    overflow-y: scroll;
    padding: 10px;
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.b-popup-l.ng-enter,
.b-popup-l.ng-leave {
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
.b-popup-l.ng-leave-active,
.b-popup-l.ng-enter {
    opacity: 0;
}
.b-popup-l.ng-enter-active {
    opacity: 1;
}
.b-popup-l.mod_mask,
.b-popup-l.mod_closable {
    background: rgba(0,0,0,0.2);   
}
.b-popup-l.view_fixed {
    position: fixed;
}
.b-popup-content {
  text-align: center;
  padding: 26px 20px 26px 20px;
}

.b-popup-title {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 24px;
}
.b-popup-title .__note {
    color: gray; 
    font-size: 13px; 
    line-height: normal;
}

.b-popup-note {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 24px;
}

/* b-popup-footer */
.b-popup-footer {
  position: relative;
  height: 56px;
  border-top: 3px solid #000;
}
.b-popup-footer-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  text-align: center;
}

.b-popup-footer-right {
  position: absolute;
  height: 56px;
  width: 80%;
  right: 0;
  top: 0;
  border-left: 3px solid #000;
}

/* link-back-map */
.b-button.mod_popup-footer-map {
  text-align: center;
  width: 100%;
  background-color: #fff;
  height: 56px;
  -webkit-border-radius: 0 0 0 18px;
  -moz-border-radius: 0 0 0 18px;
  border-radius: 0 0 0 18px;
  line-height: 56px;
}
.b-button.mod_popup-footer-map .b-button__text {
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

.b-popup-footer-share {
  line-height: 56px;
  text-align: center;
  font-size: 13px;
  color: #645301;
  background-color: #ffd731;
  -webkit-border-radius: 0 0 18px 0;
  -moz-border-radius: 0 0 18px 0;
  border-radius: 0 0 18px 0;
}
.b-popup-footer > .b-popup-footer-share {
  -webkit-border-radius: 0 0 18px 18px;
  -moz-border-radius: 0 0 18px 18px;
  border-radius: 0 0 18px 18px;
}

.b-popup-h {
    display: table;
    margin: 0 auto;
    height: 100%;
}
.b-popup-hh {
    display: table-cell;
    vertical-align: middle;       
}
.b-popup-social {
    display: inline-block;
    vertical-align: middle;
    line-height: 27px;
    margin-left: 10px;
}

/* b-popup-close */
.b-popup-close {
    background: url('asset/i/b-IndexPopup/b-popup-sprite.png') 0 0 no-repeat;
    background-position: -249px -66px;
    display: inline-block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6; 
}
.b-popup-close:hover {
    opacity: 1;
    cursor: pointer;
}

/* button_size_big */
.button_size_big.mod_1 {
    padding: 0 20px;
}
.button_size_big.mod_1 .b-button__text {
    font-size: 30px;
    text-transform: none;
    font-weight: normal;
}
/* back-map */
a.back-map {
    color: #000;
    margin-top: 19px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}

.b-popup__top-result {
    position: relative;
    background-color: #ffd820;
    -webkit-border-radius: 18px 18px 0 0px;
    -moz-border-radius: 18px 18px 0 0px;
    border-radius: 18px 18px 0 0px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    padding: 12px 0 1px 0;
}

.b-popup__top-result-title {
    font-size: 40px;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 120%;
}

.b-icons_star2 {
    width: 25px;
    height: 23px;
    top: -4px;
}
.b-icons_star2 .b-icons__item {
    background: url('asset/i/b-IndexPopup/b-popup-sprite.png') -204px -66px no-repeat;
    width: 25px;
    height: 23px;
}
.b-popup__top-result-note {
    text-align: center;
    font-size: 13px;
    margin-top: -4px;
}
.b-popup__top-result-note:last-child{
    margin-bottom: 15px;
}

.b-slide-result {
    padding-top: 5px;
}
.b-slide-result.state_active .b-slide-result-row{
    height: 119px;
}
.b-slide-result.state_active .b-slide-result-arrow:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.b-slide-result-arrow {
    opacity: .6;
    margin: 8px auto;
    cursor: pointer;
    width: 20px;
    height: 9px;
    position: relative;
}
.b-slide-result-arrow:hover {
    opacity: 1;
}
.b-slide-result-arrow:after {
    display: block;
    position: absolute;
    content: '';
    background: url('asset/i/b-IndexPopup/b-popup-sprite.png') -204px -109px no-repeat;
    width: 20px;
    height: 9px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.2s linear all; /* Safari/Chrome */
    transition: 0.2s linear all; /* Future Browsers */
}
.b-slide-result-arrow:before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -40px;
    right: -40px;
}
.b-slide-result-row {
    text-align: center;
    font-size: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: 0.2s linear all; /* Safari/Chrome */
    transition: 0.2s linear all; /* Future Browsers */
}

.b-slide-result-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 7px 16px 0;
}
.b-slide-result-icon {
    background: url('asset/i/b-IndexPopup/b-popup-sprite.png') 0 0 no-repeat;
    width: 82px;
    height: 82px;
    margin-bottom: 6px;
}
.b-slide-result-item.mod_g1 .b-slide-result-icon {
    background-position: -102px -102px;
}
.b-slide-result-item.mod_mnogo .b-slide-result-icon {
    background-position: 0 0;
}
.b-slide-result-item.mod_sber .b-slide-result-icon {
    background-position: 0 -102px;
}
.b-slide-result-item.mod_dpd .b-slide-result-icon,
.b-slide-result-item.mod_pickpoint .b-slide-result-icon {
    background-position: -102px 0;
}
.b-slide-result-item.mod_qiwi .b-slide-result-icon {
    background-position: -2px -188px;
}
.b-slide-result-item.mod_proskater .b-slide-result-icon {
    background-position: -103px -188px;
}
.b-slide-result-item.mod_quelle .b-slide-result-icon {
    background-position: -197px -187px;
}
.b-slide-result-text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

/* b-popup-attent */
.b-popup-attent {
    text-align: left;
    background-color: #ed0b0b;
    margin: 0 -20px;
    color: #fff;
    font-size: 14px;
    text-shadow: 0 -1px 0 #a70002;
    padding: 6px 0 8px 20px;
    }
.b-popup-attent__text {
  padding-top: 6px;
}
.b-button.mod_fl-position {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}
